<div class="block-social">
    <ul class="block-social__icons reset df">
        <li class="block-social__item">
            <a class="block-social__link" target="_blank" href="https://api.whatsapp.com/send?phone=79127604400" >
                <img class="block-social__link-icon" src="img/icon/mess-wa.svg" alt="watsapp">
            </a>
        </li>
        <li class="block-social__item">
            <a class="block-social__link" target="_blank" href="viber://chat?number=79127604400" >
                <img class="block-social__link-icon" src="img/icon/mess-viber.svg" alt="viber">
            </a>
        </li>
        <li class="block-social__item">
            <a class="block-social__link" target="_blank" href="https://teleg.one/narkolog_zimnyaya" >
                <img class="block-social__link-icon" src="img/icon/mess-tg.svg" alt="telegram">
            </a>
        </li>
        <li class="block-social__item">
            <a class="block-social__link" target="_blank" href="https://www.instagram.com/rebcentr18" >
                <img class="block-social__link-icon" src="img/icon/mess-insta.svg" alt="instagram">
            </a>
        </li>
    </ul>
    <a href="tel:83412775399" class="block-social__phone --svg__icon-phone-before">8 (3412) 77-53-99</a>
    <a href="#" class="block-social__modal btn">Получить консультацию</a>
</div>