<div class="block-social">
    <ul class="block-social__icons reset df">
        <li class="block-social__item">
            <a href="#" class="block-social__link">
                <svg>
                    <use xlink:href="img/sprite.svg#mess-wa"></use>
                </svg>
            </a>
        </li>
        <li class="block-social__item">
            <a href="#" class="block-social__link">
                <svg>
                    <use xlink:href="img/sprite.svg#mess-viber"></use>
                </svg>
            </a>
        </li>
        <li class="block-social__item">
            <a href="#" class="block-social__link">
                <svg>
                    <use xlink:href="img/sprite.svg#mess-tg"></use>
                </svg>
            </a>
        </li>
        <li class="block-social__item">
            <a href="#" class="block-social__link">
                <svg>
                    <use xlink:href="img/sprite.svg#mess-insta"></use>
                </svg>
            </a>
        </li>
    </ul>
    <a href="tel:83412775399" class="block-social__phone">8 (3412) 77-53-99</a>
</div>