<section class="prices">
    <div class="section-inner">
      <h2 class="section__title">Цены иглоукалывания при алкогольной зависимости</h2>
      <div class="prices-cards prices-cards--wide">
        <div class="price-card price-card--wide price-card--long">
          <div class="price-card__top price-card__top--wide">
            <h3 class="price-card__title price-card__title--wide">Иглоукалывание от алкоголизма</h3>
          </div>
          <div class="price-card__list-title">1 сеанс</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">улучшение работы энергетических каналов всего тела</div>
            <div class="price-card__list-item">снижение паталогического влечения к алкоголю</div>
            <div class="price-card__list-item">укрепление нервной системы</div>
            <div class="price-card__list-item">оздоровление всего организма</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">от 1 500 до 7 000 руб.</div>
            <div class="price-card__price-note">зависит от метода и используемого оборудования</div>
            <button class="price-card__btn">Записаться</button>
          </div>
        </div>
      </div>
    </div>
</section>