.price-card__price-note {
    max-width: 20rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.15;
    font-weight: 400;
    color: #fff;
}

.price-card.price-card--long {

    @media (min-width: 1440px) {
        width: 39rem;
    }

    .price-card__top {
        min-height: 5.6rem !important;
        margin: 5rem;
    }
}