<section class="prices">
    <div class="section-inner">
      <h2 class="section__title">Цены на кодирование от алкоголизма</h2>
      <div class="prices-cards prices-cards--middle">
        <div class="price-card price-card--middle">
          <div class="price-card__top price-card__top--wide">
            <h3 class="price-card__title price-card__title--wide">Вшивание ампулы</h3>
          </div>
          <div class="price-card__list-title">на срок 1,2 и 3 года</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">производится строго в клинике в процедурном кабинете!</div>
            <div class="price-card__list-item">в ягодичную мышцу вшивается ампула</div>
            <div class="price-card__list-item">шов остается незаметным</div>
            <div class="price-card__list-item">осмотр врача</div>
            <div class="price-card__list-item">мотивационная беседа</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">7-9 тыс. руб.</div>
            <button class="price-card__btn">Записаться</button>
          </div>
        </div>
        <div class="price-card price-card--middle">
          <div class="price-card__top price-card__top--wide price-card__top--short">
            <h3 class="price-card__title price-card__title--wide">Кодирование методом Довженко</h3>
          </div>
          <div class="price-card__list-title">на срок 1,2 и 3 года</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">производится строго в клинике!</div>
            <div class="price-card__list-item">консультация врача-нарколога на применимость гипноза</div>
            <div class="price-card__list-item">проведение гипнотического сеанса</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">4-9 тыс. руб.</div>
            <button class="price-card__btn">Записаться</button>
          </div>
        </div>
        <div class="price-card price-card--special price-card--middle">
          <div class="price-card__special-mark"> <span>Новинка</span></div>
          <div class="price-card__top price-card__top--wide">
            <h3 class="price-card__title price-card__title--wide">Введение геля подкожно</h3>
          </div>
          <div class="price-card__list-title">на срок от 1 года до 5 лет</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">осмотр врача</div>
            <div class="price-card__list-item">диагностика организма на совместимость с препаратом</div>
            <div class="price-card__list-item">мотивационная беседа</div>
            <div class="price-card__list-item">введение препарата</div>
            <div class="price-card__list-item">вводится специальный гель, оказывающий более пролонгированный эффект</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">7-9 тыс. руб.</div>
            <button class="price-card__btn">Записаться</button>
          </div>
        </div>
        <div class="price-card price-card--special price-card--middle">
          <div class="price-card__special-mark"> <span>Популярная услуга</span></div>
          <div class="price-card__top price-card__top--wide price-card__top--short">
            <h3 class="price-card__title price-card__title--wide">Кодирование уколом</h3>
          </div>
          <div class="price-card__list-title">на срок от 1 года до 3 лет</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">осмотр врача</div>
            <div class="price-card__list-item">препараты пролонги, дисульфирамовой группы</div>
            <div class="price-card__list-item">диагностика организма</div>
            <div class="price-card__list-item">мотивационная беседа</div>
            <div class="price-card__list-item">подборка препарата</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">4-9 тыс. руб.</div>
            <button class="price-card__btn">Записаться</button>
          </div>
        </div>
      </div>
    </div>
</section>