<<<<<<< HEAD
.price-card--middle {
    width: 27rem !important;
=======
.price-card.price-card--middle {
    width: 27rem;
>>>>>>> b44d50bda5234357eff1bb6030156633ce70c794
    display: flex;
    flex-direction: column;
    margin: 0 .8rem 1.5rem .8rem !important;

    @media (min-width: 560px) {
        width: 27rem !important;
        margin: 0 .8rem 1.5rem .8rem !important;
    }

    @media (min-width: 1440px) {
        width: 27rem !important;
        margin: 0 .8rem 1.5rem .8rem !important;
        padding: 1rem 0 3.8rem 0 !important;
    }
}