<div class="social-menu dfac">
    <div class="social-menu__social dfac">
        <a class="social-menu__link social-menu__link--viber" href="viber://chat?number=%2B79127604400">
            <img src="img/icon/viber.svg" alt="viber">
            <span>Viber</span></a>
        <a class="social-menu__link social-menu__link--whatsapp" href="https://wa.me/79127604400">
            <img src="img/icon/watsapp.svg" alt="WhatsApp">
            <span>WhatsApp</span></a>
        <a class="social-menu__link social-menu__link--telegram" href="https://teleg.one/narkolog_zimnyaya">
            <img src="img/icon/tm.svg" alt="Telegram">
            <span>Telegram</span></a>
        <div class="social-menu__btn">
            <img class="social-menu__open" src="img/icon/open-social.svg" alt="open">
            <img class="social-menu__closed" src="img/icon/closed-social.svg" alt="closed">
        </div>
    </div>
    <a class="social-menu__up" href="#">
        <img class="social-menu__img-up" src="img/icon/up.svg" alt="closed">
    </a>
</div>