<section class="cost-services-table cost-services-table__indent">
    <div class="container">
        <h2 class="cost-services-table__title">МЕДИЦИНСКИЕ УСЛУГИ</h2>
        <table>
            <tr>
                <th>Наименование услуги</th>
                <th>Цена (руб.)</th>
            </tr>
            <tr>
                <td>Консультация врача психиатра-нарколога (первичная)</td>
                <td>
                    <div>
                        2000
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Консультация врача психиатра-нарколога (повторная)</td>
                <td>
                    <div>
                        1500
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Консультация врача психотерапевта (первичная)</td>
                <td>
                    <div>
                        2500
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Консультация врача психотерапевта (повторная)</td>
                <td>
                    <div>
                        2000
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Консультация врача психиатра-нарколога (семейная)</td>
                <td>
                    <div>
                        2000
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Консультация врача психотерапевта (семейная)</td>
                <td>
                    <div>
                        3000
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Амбулаторная помощь при абстинентном состоянии, вызванным употреблением алкоголя легкой
                    степени
                </td>
                <td>
                    <div>
                        3000-4000
                        (на выезде 3500-5500)

                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Амбулаторная помощь при абстинентном состоянии, вызванным употреблением ПАВ легкой степени
                </td>
                <td>
                    <div>
                        4000-7000
                        (на выезде 4500-7000)
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Амбулаторная помощь при алкогольной интоксикации, вызванной употреблением алкоголя легкой
                    степени
                </td>
                <td>
                    <div>
                        3000
                        (на выезде 3500)
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Консультативная амбулаторная помощь при синдроме зависимости от алкоголя с применением
                    опосредованной медикаментозной психотерапии
                </td>
                <td>
                    <div>
                        4000-7000
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Консультативная амбулаторная помощь при синдроме зависимости от ПАВ с применением
                    опосредованной медикаментозной психотерапии
                </td>
                <td>
                    <div>
                        5000-15000
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Амбулаторная помощь при абстинентном состоянии, вызванным употреблением алкоголя легкой
                    степени без элементов дезинтоксикации (применяется только в центре)
                </td>
                <td>
                    <div>
                        1500
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Амбулаторная помощь при абстинентном состоянии, вызванным употреблением ПАВ легкой степени
                    без элементов дезинтоксикации (применяется только в центре)
                </td>
                <td>
                    <div>
                        2000
                        <button>Заказать</button>
                    </div>
                </td>
            </tr>
        </table>
        <p>Медицинские услуги предоставляет ООО «ФЕНИКС»
        </p>
    </div>
</section>