<section class="all-text">
    <div class=" container">

        <h4 class="all-text__subtitle"></h4>
        <p>Наш реабилитационный центр предоставляет услуги по выведению из запоя в Ижевске круглосуточно. Иногда
            процедуру называют - прокапка, детоксикация от алкоголя или наркотиков. Ниже - фотография нашего мед.
            кабинета. Процедуры проводятся с соблюдением всех правил и требований надзорных органов.</p>

    </div>
</section>

<section class="all-text">
    <div class=" container">
        <h2 class="all-text__title">В государственных медучреждениях программа<br>
            НЕ предусматривает подобные условия</h2>

        <p>Мы понимаем, что существуют бесплатные государственные наркологии, где тоже оказывают помощь. Почему мы не
            рекомендуем проходить реабилитацию там:</p>

        <ul>
            <li><strong>Отсутствие анонимности</strong>. В больницах ставят на учёт, сообщают по месту работы. Это
                крайне негативно может
                сказаться на дальнейшей карьере и жизни.</li>
            <li><strong>Общие палаты для всех.</strong> К большому сожалению, частые гости бесплатных клиник это
                маргинальная прослойка
                общества. Не каждому понравится лежать в подобном коллективе.</li>
            <li><strong>Забудьте о доброжелательном отношении.</strong> Отсутствие мотивации у персонала сказывается на
                процессе работы.
                Человек, находящийся в палате, - очередной алкоголик, и отношение к нему будет соответствующее.</li>
            <li>Самое важное - <strong>в бесплатных учреждениях вас стремятся не вылечить, а выписать</strong></li>
        </ul>

        <p>Этими предостережениями мы не пытаемся принизить заслуги бесплатных клиник. Мы с огромным уважением относимся
            к их труду и часто делимся опытом на семинарах и встречах. Однако всё вышеперечисленное, к сожалению,
            является правдой жизни. Узнать, какие на лечение алкоголизма в Ижевске цены в нашем центре, можно <a
                href="#">здесь.</a></p>
    </div>
</section>

<section class="all-text">
    <div class=" container">
        <p>Лечение хронического алкоголизма в Ижевске нашем центре также включает <strong>сеансы групповой и
                индивидуальной
                психотерапии.</strong> Это помогает посмотреть на проблему со стороны, пообщаться с людьми, оказавшимися
            в схожей
            ситуации, изменить отношение к своему заболеванию, восстановить искаженное сознание. Психотерапевты также
            работают с родственниками пациента (созависимыми). Это приводит к восстановлению семейных отношений,
            помогает близким адаптироваться к трезвому образу жизни зависимого.
            <br>
            <br>
            Стоимость реабилитационных мероприятий зависит от выбранной программы, ее продолжительности, наличия
            сопутствующих заболеваний. Стремление найти самый дешевый прайс и сократить необходимый объем терапии может
            привести к скорому рецидиву
        </p>
    </div>
</section>

<section class="all-text">
    <div class=" container">
        <p>Эффективное лечение алкоголизма <strong>невозможно без согласия пациента.</strong> Услуга кодирования не
            предоставляется против воли пациента. Это не даст положительного результата. Терапевтических программ
            немало, как и отзывов об их эффективности. Подбирать подходящую конкретному человеку методику в зависимости
            от индивидуальных показаний <strong>должен врач нарколог-психотерапевт.</strong> При этом учитывается стадия
            заболевания, физическое состояние зависимого. Цена лечения алкоголизма зависит от комплекса проведенных
            мероприятий.
            <br>
            <br>
            Обратитесь в наш центр реабилитации в Ижевске и получите квалифицированную помощь в борьбе с зависимостью.
            Позвоните нам и получите <strong>бесплатную консультацию</strong> специалиста по возможностям и ценам
            лечения алкоголизма в нашей клинике.
        </p>
    </div>
</section>

<section class="all-text">
    <div class=" container">

        <h4 class="all-text__subtitle">Какие методы эффективны?</h4>
        <p>Существует множество "народных средств" для лечения алкогольной зависимости, в том числе и без ведома
            больного (не препараты): кодировки, гипнозы, психотерапии, консультации психологов и даже заговоры. Никогда
            не нужно даже пытаться лечить недуг при помощи заговоров, молитв или "народных средств". Это только усугубит
            ситуацию!</p>

    </div>
</section>

<section class="all-text">
    <div class=" container">

        <h4 class="all-text__subtitle">Кодировка, гипноз, вшивание "торпеды"</h4>
        <p>Применение таких методов как кодирование и гипноз признаны избавить от симптомов. Применять их можно, но:</p>
        <ol>
            <li>Обязательно в профильном учреждении (например в нашем центре).</li>
            <li>Осознавая, что это только временные меры.</li>
        </ol>

        <p>Самый правильный способ избавиться от алкоголизма - комплексная работа с человеком и его родными в
            специальном реабилитационном центре. Далее мы постараемся раскрыть каждый из аспектов такого лечения.</p>

    </div>
</section>