<section class="complex complex-stage">
    <div class="container">
        <h2 class="complex__title">Этапы лечения алкоголизма</h2>
        <p class="complex__subtitle">Среди населения России наблюдается постоянный прирост зависимых от горячительных
            напитков. Наркологам приходится постоянно искать новые действенные способы борьбы с заболеванием. Наиболее
            эффективные методики основаны на восстановлении измененного сознания личности и ее адаптацию в социуме
            <br>
            <br>
            Основные этапы лечения алкоголизма в Ижевске в нашем центре
        </p>

        <ul class="complex__list reset dfsb">
            <li class="complex__item">
                <h6 class="complex__item-title">Детоксикация</h6>
                <p class="complex__item-text">очищение организма пациента от продуктов распада этанола с помощью грамотно подобранных препаратов</p>
            </li>
            <li class="complex__item">
                <h6 class="complex__item-title">Снятие абстинентного синдрома</h6>
                <p class="complex__item-text">терапевтические мероприятия проводятся с целью купирования психосоматических симптомов, спровоцированных тягой к спиртному</p>
            </li>
            <li class="complex__item">
                <h6 class="complex__item-title">Кодирование</h6>
                <p class="complex__item-text">осуществляется с применением наиболее эффективных способов – гипноза, внутривенной инъекции индивидуально подобранных препаратов, метода Довженко</p>
            </li>
            <li class="complex__item">
                <h6 class="complex__item-title">Психологическое сопровождение</h6>
                <p class="complex__item-text">реабилитация и помощь в дальнейшей соцадаптации</p>
            </li>
        </ul>

    </div>
</section>