<section class="complex">
    <div class="container">
        <h2 class="complex__title">Мы используем в своей работе комплексный подход</h2>
        <p class="complex__subtitle">Начиная с чистки организма проводим реабилитацию (выздоровление от зависимости) и оказываем послелечебное сопровождение и поддержку</p>

            <ul class="complex__list reset dfsb">
                <li class="complex__item">
                    <h6 class="complex__item-title">Первый в Удмуртии</h6>
                    <p class="complex__item-text"><strong>Единственный в Ижевске полностью оснащенный</strong> частный реабилитационный центр, предоставляющий комплексные анонимные услуги по <strong>лечению алкоголизма и реабилитации наркотической</strong> зависимости.</p>
                </li>
                <li class="complex__item">
                    <h6 class="complex__item-title">Находимся в Ижевске</h6>
                    <p class="complex__item-text">Мы находимся в городе Ижевск, <strong>в пяти минутах от центра города</strong>, так же у нас имеется филиал, находящийся в районе <strong>первой республиканской больницы.</strong></p>
                </li>
                <li class="complex__item">
                    <h6 class="complex__item-title">Опыт более 6 лет</h6>
                    <p class="complex__item-text">Вот уже 6 лет мы предоставляем для Вас услуги наркологической помощи по Удмуртской республике и <strong>всей России</strong>. Наш центр в 2017 году прошел проверку и получил <strong>лицензию на осуществление медицинской деятельности</strong> по наркологии.</p>
                </li>
                <li class="complex__item">
                    <h6 class="complex__item-title">Штатный персонал</h6>
                    <p class="complex__item-text">В нашем штате работают: <strong>врачи наркологи, фельдшера, психологи, психотерапевты, консультанты по химической зависимости</strong> имеющие специализированное высшее образование и подтверждающие тому дипломы и сертификаты.</p>
                </li>
                <li class="complex__item">
                    <h6 class="complex__item-title">Ежедневно и круглосуточно</h6>
                    <p class="complex__item-text">Прием на реабилитацию и лечение алкоголизма и наркомании ведется ежедневно и круглосуточно, достаточно предварительно позвонить по телефону <strong>бесплатной горячей линии <a class="complex__item-text-link" href="">8 800 250 46 20</a></strong></p>
                </li>
                <li class="complex__item">
                    <h6 class="complex__item-title">Проверенная методика 12 шагов</h6>
                    <p class="complex__item-text">Данная модель <strong>работает с 1935 года</strong> и является <strong>самой эффективной методикой на сегодняшний день</strong> по избавлению от зависимости, а в России она появилась в 1990 году.</p>
                </li>
            </ul>

    </div>
</section>