<section class="methodology">
    <div class="container">
        <h2 class="methodology__title">Основные терапевтические методики</h2>
        <p class="methodology__subtitle">Один из действенных способов анонимного лечения алкоголизма – <a
                class="methodology__link" href="#">кодирование</a>.</p>

        <div class="methodology__wrapper df">
            <div class="methodology__item">
                <h4 class="methodology__item-title">Кодировка медикаментами</h4>
                <p class="methodology__item-teext">Специальные препараты формируют стойкое отторжение спиртного. В нашем
                    центре врачи-наркологи используют медицинские средства на основе дисульфирама, цианамида, которые
                    блокируют распад алкоголя, вызывая сильное отравление. В результате зависимый теряет интерес к
                    горячительным напиткам, поскольку они вызывают неприятные ощущения.</p>
            </div>
            <div class="methodology__item">
                <h4 class="methodology__item-title">Психологическое кодирование</h4>
                <p class="methodology__item-teext">По действию схоже с медикаментозной терапией. В результате
                    проведенных
                    мероприятий у зависимого появляется условный отрицательный рефлекс, не позволяющий усваиваться
                    спиртному. Результат достигается гипнозом, целенаправленным внушением. Наши специалисты в качестве
                    способа воздействия на психику применяют метод Довженко.</p>
            </div>
        </div>
    </div>
</section>