<section class="signs">
    <div class="container">
        <h2 class="signs__title">Комплекс признаков, по которым можно выявить употребление наркотиков:</h2>
        <ul class="reset">
            <li>состояние, схожее с алкогольным опьянением, но без характерного запаха;</li>
            <li>повышенное слюноотделение или сухость во рту;</li>
            <li>неадекватные, беспричинные эмоциональные реакции;</li>
            <li>повышенная двигательная активность или заторможенность;</li>
            <li>искаженное восприятие реальности, помутнение сознания;</li>
            <li>невнятная, неразборчивая речь;</li>
            <li>расширенные или суженые зрачки, не реагирующие на свет;</li>
            <li>сухость, неестественность цвета кожного покрова.</li>
        </ul>
    </div>
</section>