<section class="content">
    <div class="container">
        <div class="content__cnt df">
            <div class="content__bloc">
                <h2 class="content__titles">УЗНАЙТЕ БОЛЬШЕ О ЦЕНТРЕ</h2>
                <p class="content__text">Мы работаем и добиваемся результата в самых сложных случаях
                    лечения
                    наркомании и алкоголизма в Ижевске.
                    За каждым клиентом закрепляется консультант и психолог, который отвечает за динамику
                    выздоровления. Плотный график в процессе реабилитации и бытовые условия продуманы до
                    мелочей. Вам не придется беспокоиться о том, как Ваш близкий проходит реабилитацию.
                </p>
            </div>
            <div class="content__bloc">
                <iframe id="youtubeiframe226762957" width="100%"
                    src="//www.youtube.com/embed/XjkIUpltAsI?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0"
                    frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <h6 class="content__title">Исцеляем не религией или тяжёлым трудом</h6>
        <p class="content__text texts">
            <a href="#">Реабилитация наркозависимых</a> – это дело повышенной
            ответственности, поэтому наш центр позиционирует себя как коммерческая
            организация, не имеющая отношение к религиозным обществам или компаниям, использующим трудотерапию в
            качестве лечения. А родственники при желании и с согласия врача могут навестить больного. Также мы
            гарантируем полную конфиденциальность и анонимность лечения зависимостей любой степени.
        </p>
        <h6 class="content__title">С чего начать?</h6>
        <p class="content__text">Если у клиента низкая мотивация либо отсутствует вовсе к прохождению
            реабилитации, мы все равно начинаем работу, используя уникальные психокоррекционные мероприятия,
            добиваемся согласия клиента на полное прохождение курса лечения алкогольной или наркотической
            зависимости. Возможна консультация с выездом к клиенту на дом.
        </p>
    </div>
</section>