<section class="content">
    <div class="container">
        <h6 class="content__title">Чем наш центр отличается от других?</h6>
        <p class="content__text">
            «Социальные услуги» - это центр лечения алкоголиков и наркоманов, имеющий все необходимое, для
            комфортной реабилитации зависимых людей. Пациенты проживают в удобных комнатах и получают 4-разовое
            питание, которое помогает привести истощенный организм в норму. Из развлечений здесь имеется: сауна,
            бильярд, настольный теннис. Ежедневно проводятся лекции, терапевтические занятия, чаепития, занятия
            с психологом, спортивные мероприятия, психокоррекционные мероприятия, групповые тренинги.
        </p>
        <p class="content__text">У нас постоянно находится дипломированный психолог, который выслушает
            больного и поможет ускорить процесс выздоровления. Важно, что родственники пациента также могут
            обратиться за консультацией к работникам центра, которые окажут помощь в
            <a href="#">лечении алкоголизма в Ижевске</a>.
        </p>
    </div>
</section>