<section class="content">
    <div class="container">
        <p class="content__text">
            Зачастую зависимые от алкоголизма люди не хотят лечиться. Они находятся в так называемом отрицании,
            особенно часто этот фактор наблюдается у современных наркоманов, людей, кто употребляет наркотики
            курительным способом. Не смотря на все явные последствия зависимости от алкоголя и наркомании, они
            не считают себя наркоманами и не хотят лечиться. Мы можем помочь вам в этой ситуации.
        </p>
        <p class="content__text">В круглосуточном режиме специалистами нашей организации осуществляется
            выездная консультация по вопросам лечения алкоголизма и наркомании. При необходимости в ней
            применяются методы эмоционально-стрессовой терапии, которые дают возможность добиться быстрого
            согласия клиента на прохождение курса реабилитации. В нашей работе мы полностью исключаем любое
            физическое воздействие.
        </p>
        <p class="content__text">Реабилитация для зависимых в центре лечения алкоголизма длится около
            полугода. В этот период больной проходит все стадии избавления зависимости от наркомании и
            алкоголизма:</p>
        <ol class="content__list">
            <li class="content__list-item">Очищение организма от наркотиков или алкоголя посредством
                <a class="content__list-link" target="_blank" href="#">детоксикации.</a>
            </li>
            <li class="content__list-item">Лекции, арт-терапии, занятия спортом в реабилитационном центре.</li>
            <li class="content__list-item">Введение пациента в социум.</li>
            <li class="content__list-item">Постлечебная программа.</li>
        </ol>
        <p class="content__text">Лечение и реабилитация наркомании происходит строго под надзором персонала.
            Больные круглосуточно находятся под наблюдением, что позволяет им получить своевременную помощь и
            избежать конфликтов в критических ситуациях. Пациенту помогают врачи и работники центра.</p>
    </div>
</section>