<section class="o-center">
    <div class="container">
        <p>Наш центр отличается от многих других организаций наличием стационарного
            лечения алкоголизма, в
            процессе которого присутствует
            <strong> гарантия социальной изоляции </strong>. Пронос каких либо веществ и проход
            посторонних лиц полностью исключен. Так же исключен факт самовольного покидания пределов центра без
            сопровождения сотрудниками или родственниками клиента.
        </p>
        <p>
            Мы работаем и добиваемся результата в самых сложных случаях.
            <strong>За каждым клиентом закрепляется
                консультант и психолог
            </strong>, который отвечает за динамику выздоровления. Плотный график в процессе
            избавления от наркотической и алкогольной зависимости и бытовые условия продуманы до мелочей. Вам не
            придется беспокоиться о том, как Ваш близкий проходит реабилитацию.
            <strong>Работа с родственниками
            </strong>клиентов
            ведется в тесном контакте, мы информируем о всех изменениях в динамике клиента, а так же проводим
            бесплатные терапевтические группы, на которых даем Вам знания о зависимости и как в дальнейшем вести
            себя с родственником.
        </p>

    </div>
</section>