<section class="schedule">
    <div class="container">
        <h2 class="schedule__title">РАСПИСАНИЕ</h2>
        <p>Многие наши клиенты часто спрашивают, чем занимаются пациенты в реабилитационном центре в процессе
            лечения наркомании в Ижевске? В таблице ниже показан распорядок на некоторые дни нашего
            реабилитационного центра. В зависимости от дня недели расписание корректируется, и добавляются
            мероприятия для улучшения психологического лечения наркомании, такие как: лекция, арт-терапия,
            групповые тренинги, йога, спортивные мероприятия, посещение бани, уборка территории. Кроме того, в
            промежутках между мероприятиями наши резиденты занимаются написанием дневника чувств либо
            самоанализа.
        </p>
    </div>
</section>