<section class="advantages">
    <img class="advantages__img" src="img/bg-o-center.jpg" alt="Наркология">

    <div class="container">
        <div class="advantages__wrapper">
            <h2 class="advantages__title">ПРЕИМУЩЕСТВА ЛЕЧЕНИЯ АЛКОГОЛИЗМА В ИЖЕВСКЕ У НАС</h2>
            <ul class="advantages__list reset dfsa">
                <li class="advantages__item">
                    <div class="advantages__item-icon">
                        <img src="img/icon/advantages-1.svg" alt="Иконка">
                    </div>
                    <div class="advantages__item-text">Полная анонимность</div>
                </li>
                <li class="advantages__item">
                    <div class="advantages__item-icon">
                        <img src="img/icon/advantages-2.svg" alt="Иконка">
                    </div>
                    <div class="advantages__item-text">Работаем со сложными случаями</div>
                </li>
                <li class="advantages__item">
                    <div class="advantages__item-icon">
                        <img src="img/icon/advantages-3.svg" alt="Иконка">
                    </div>
                    <div class="advantages__item-text">Эффективная программа</div>
                </li>
                <li class="advantages__item">
                    <div class="advantages__item-icon">
                        <img src="img/icon/advantages-4.svg" alt="Иконка">
                    </div>
                    <div class="advantages__item-text">Комплексный медико-психологически подход</div>
                </li>
                <li class="advantages__item">
                    <div class="advantages__item-icon">
                        <img src="img/icon/advantages-5.svg" alt="Иконка">
                    </div>
                    <div class="advantages__item-text">Работаем со всей семьей</div>
                </li>
                <li class="advantages__item">
                    <div class="advantages__item-icon">
                        <img src="img/icon/advantages-6.svg" alt="Иконка">
                    </div>
                    <div class="advantages__item-text">Проводим авторские практические тренинги, основанные на реальных
                        ситуациях</div>
                </li>
                <li class="advantages__item">
                    <div class="advantages__item-icon">
                        <img src="img/icon/advantages-7.svg" alt="Иконка">
                    </div>
                    <div class="advantages__item-text">Единственный в Удмуртии частный реабилитационный центр,
                        оснащенный медицинским кабинетом</div>
                </li>
                <li class="advantages__item">
                    <div class="advantages__item-icon">
                        <img src="img/icon/advantages-8.svg" alt="Иконка">
                    </div>
                    <div class="advantages__item-text">Предоставляем послелечебное сопровождение с индивидуальным
                        проживанием</div>
                </li>
            </ul>

        </div>
    </div>

</section>