<section class="price-stroc">
    <div class="container">
        <div class="price-stroc__wrapper">
            <h2 class="price-stroc__title">Цены на лечение наркомании в Ижевске</h2>
            <ul>
                <li>35 дней
                    <h5><strong>Короткая программа реабилитации</strong>
                        49 000 руб.
                    </h5>
                </li>
                <li>3-6 месяцев
                    <h5><strong>Длительная программа реабилитации</strong>
                        35 000 руб.
                    </h5>
                </li>
                <li>от 1 месяца
                    <h5><strong>Послелечебная программа</strong>
                        15 000 руб.
                    </h5>
                </li>
            </ul>
        </div>
    </div>
</section>