<section class="history">
    <div class="container">

        <h2 class="history__title">История нашего центра</h2>

        <div class="history__wrapper">

            <div class="history__item df">
                <div class="history__box-date">2015 год
                    февраль</div>
                <div class="history__box-info">
                    <h3 class="history__info-title">Реабилитационный центр начал работу</h3>
                    <p class="history__info-text">Поступил первый пациент, позже весной мы переехали в комфортабельный реабилитационный центр</p>
                </div>
            </div>
            <div class="history__item df">
                <div class="history__box-date">2016 год</div>
                <div class="history__box-info">
                    <h3 class="history__info-title">Запустили в работу головной офис с собственной послелечебной программой и курсами для родственников</h3>
                    <p class="history__info-text">Позже Оренбургским университетом психологических наук, для нашего РЦ была разработана психокоррекционная программа лечения наркозависимых, этим же годом мы взяли ее в работу и приступили к внедрению.</p>
                </div>
            </div>
            <div class="history__item df">
                <div class="history__box-date">2017 год</div>
                <div class="history__box-info">
                    <h3 class="history__info-title">Нашими специалистами была разработана и внедрена авторская программа серии тренингов по созависимости</h3>
                    <p class="history__info-text">Ежемесячно ее проходят порядка 100 человек.</p>
                </div>
            </div>
            <div class="history__item df">
                <div class="history__box-date">2018 год
                    лето</div>
                <div class="history__box-info">
                    <h3 class="history__info-title">Получили лицензию</h3>
                    <p class="history__info-text">Наконец-то мы прошли длинный путь к получению лицензии на осуществление медицинской деятельности по наркологии-психиатрии, запустили медицинский центр.</p>
                </div>
            </div>
            <div class="history__item df">
                <div class="history__box-date">2018 год</div>
                <div class="history__box-info">
                    <h3 class="history__info-title">Организовали и запустили в работу второе отделение реабилитации</h3>
                    <p class="history__info-text">Профиль деятельности направлен на работу именно с алкозависимыми людьми. Позже, осенью начинает работу отделение послелечебной программы с проживанием и полным сопровождением в социуме наших выпускников после выписки из реабилитационного центра.</p>
                </div>
            </div>
            <div class="history__item df">
                <div class="history__box-date">Сегодня</div>
                <div class="history__box-info">
                    <h3 class="history__info-title">Выписано 603 пациента</h3>
                    <p class="history__info-text">379 человек прошли лечение</p>
                    <p class="history__info-text">25 человек проходят лечение</p>
                </div>
            </div>

        </div>

    </div>
</section>