<section class="prices">
  <div class="section-inner">
    <h2 class="section__title">Цены на лечение алкоголизма в ижевске</h2>
    <div class="prices-cards prices-cards--wide">
      <div class="price-card price-card--wide">
        <div class="price-card__top price-card__top--wide">
          <h3 class="price-card__title price-card__title--wide">Кодирование алкоголизма </h3>
        </div>
        <div class="price-card__list-title">Виды кодирования</div>
        <div class="price-card__list price-card__list--wide">
          <div class="price-card__list-item">инъекция</div>
          <div class="price-card__list-item">вшивание ампулы</div>
          <div class="price-card__list-item">введение геля</div>
          <div class="price-card__list-item">гипноз по Довженко</div>
        </div>
        <div class="price-card__bottom">
          <div class="price-card__price-tag">4-9 тыс. руб.</div>
          <button class="price-card__btn">Записаться</button>
        </div>
      </div>
      <div class="price-card price-card--special price-card--wide">
        <div class="price-card__special-mark"> <span>Популярная услуга</span></div>
        <div class="price-card__top price-card__top--wide">
          <h3 class="price-card__title price-card__title--wide">Короткая программа лечения алкоголизма</h3>
        </div>
        <div class="price-card__list-period">35 дней</div>
        <div class="price-card__list price-card__list--wide">
          <div class="price-card__list-item">снятие похмелья и чистка организма</div>
          <div class="price-card__list-item">психотерапевтическая работа в группе</div>
          <div class="price-card__list-item">индивидуальная программа</div>
          <div class="price-card__list-item">работа с родственниками</div>
          <div class="price-card__list-item">послелечебное сопровождение</div>
        </div>
        <div class="price-card__bottom">
          <div class="price-card__price-tag">55 тыс. руб.</div>
          <button class="price-card__btn">Записаться</button>
        </div>
      </div>
      <div class="price-card price-card--wide">
        <div class="price-card__top price-card__top--wide">
          <h3 class="price-card__title price-card__title--wide">Длительная программа лечения алкоголизма</h3>
        </div>
        <div class="price-card__list-period">3-6 месяцев</div>
        <div class="price-card__list price-card__list--wide">
          <div class="price-card__list-item">подходит для клиентов с низкой мотивацией на лечение</div>
          <div class="price-card__list-item">психотерапевтические методики</div>
          <div class="price-card__list-item">работа психолога</div>
          <div class="price-card__list-item">программа 12 шагов</div>
          <div class="price-card__list-item">работа с родственниками</div>
          <div class="price-card__list-item">послелечебное сопровождение</div>
        </div>
        <div class="price-card__bottom">
          <div class="price-card__price-tag">40 тыс. руб.</div>
          <button class="price-card__btn">Записаться</button>
        </div>
      </div>
    </div>
  </div>
</section>