.price-card--wide {
    width: 30rem !important;
    display: flex;
    flex-direction: column;
    margin: 0 0 1.5rem 0 !important;
    padding: 2rem 0 2.8rem 0 !important;

    @media (min-width: 560px) {
        width: 30rem !important;
        margin: 0 2.1rem 1.5rem 2.1rem !important;
    }

    @media (min-width: 1440px) {
        width: 35rem !important;
        padding: 1rem 0 3.8rem 0 !important;
    }
}

.price-card__top--wide {
    min-height: 8.6rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    border-bottom: .2rem solid #fff;

    @media (min-width: 1440px) {
        min-height: 10.6rem !important;
    }
}

.price-card__top.price-card__top--short {
    max-width: 18.7rem;
}

.price-card__title.price-card__title--wide {
    max-width: 22rem;
    margin-bottom: 0;

    @media (min-width: 1440px) {
        max-width: 24rem !important;
        font-size: 2.4rem;
    }
}

.price-card__list--wide {
    padding: 0 3.5rem 0 2.3rem !important;
    margin: 2rem 0 2.1rem 0 !important;
}

.price-card__list-title,
.price-card__list-period {
    line-height: 1.15;
    font-weight: 400;
    color: #fff;
}

.price-card__list-title {
    font-size: 1.6rem;

    @media (min-width: 1440px) {
        min-height: 2.3rem;
    }
}

.price-card__list-period {
    font-size: 1.6rem;
}