<section class="block-special">
<!-- 
    <section class="block-special block-special--darkblue">
        класс-модифкатор block-special--darkblue 
        добавляет синий фон и белый тайтл
-->
    <div class="container">
        <h2 class="block-special__title">СПЕЦИАЛИСТЫ</h2>

        <div class="block-special__wrapper dfsb">

            <div class="block-special__item df">
                <div class="block-special__box-img">
                    <img src="img/doc-1.jpg" alt="Доктор">
                    <div class="block-special__img-info">
                        <div class="block-special__img-drop-block">
                            <p class="block-special__img-drop-text">Купирование абстинентного синдрома. Медикаментозное
                                сопровождение на начальных этапах и в процессе реабилитации. </p>
                            <p class="block-special__img-drop-text-bold">Моя задача качественно оказать медицинские
                                услуги,
                                подготовить клиента к безопасному прохождению курса реабилитации.</p>
                        </div>
                    </div>
                </div>
                <div class="block-special__box-info df">
                    <a href="https://www.youtube.com/embed/cCmWW20i7lA?autoplay=1&rel=0" data-fslightbox="video" data-fslightbox="video" class="block-special__block-video dfac">
                        <div class="block-special__block-video-link"></div>
                        <div class="block-special__block-video-text">Посмотрите видеообращение</div>
                    </a>
                    <div class="block-special__block-doc">
                        <h3 class="block-special__block-doc-name">Нафиков Азат Расимович</h3>
                        <p class="block-special__block-doc-position">Врач психиатр-нарколог. Главный врач.</p>
                    </div>
                    <a class="block-special__btn btn" href="#">Записаться</a>
                </div>
            </div>

            <div class="block-special__item df">
                <div class="block-special__box-img">
                    <img src="img/doc-2.jpg" alt="Доктор">
                    <div class="block-special__img-info">
                        <div class="block-special__img-drop-block">
                            <p class="block-special__img-drop-text">Координация работы консультантского состава, отвечаю за динамику наших резидентов. Решаю самые сложные вопросы.</p>
                            <p class="block-special__img-drop-text-bold">Знаком с работой реабилитационного центра с момента его основания</p>
                        </div>
                    </div>
                </div>
                <div class="block-special__box-info df">
                    <a href="https://www.youtube.com/embed/XjkIUpltAsI?autoplay=1&rel=0" data-fslightbox="video" class="block-special__block-video dfac">
                        <div class="block-special__block-video-link"></div>
                        <div class="block-special__block-video-text">Посмотрите видеообращение</div>
                    </a>
                    <div class="block-special__block-doc">
                        <h3 class="block-special__block-doc-name">Дудин Антон Олегович</h3>
                        <p class="block-special__block-doc-position">Директор</p>
                    </div>
                    <a class="block-special__btn btn" href="#">Записаться</a>
                </div>
            </div>

            <div class="block-special__item df">
                <div class="block-special__box-img">
                    <img src="img/doc-3.jpg" alt="Доктор">
                    <div class="block-special__img-info">
                        <div class="block-special__img-drop-block">
                            <p class="block-special__img-drop-text">Руковожу методологическим и организационным процессом выздоровления пациентов. В реабилитационном центре принимаю решения по психологической коррекции, провожу психотерапевтические группы и мероприятия, организую и провожу индивидуальную работу.</p>
                            <p class="block-special__img-drop-text-bold">Помощь другим людям - это самая эффективная форма саморазвития</p>
                        </div>
                    </div>
                </div>
                <div class="block-special__box-info df">
                    <a href="https://www.youtube.com/embed/5tNU1fqRhCA?autoplay=1&rel=0" data-fslightbox="video" class="block-special__block-video dfac">
                        <div class="block-special__block-video-link"></div>
                        <div class="block-special__block-video-text">Посмотрите видеообращение</div>
                    </a>
                    <div class="block-special__block-doc">
                        <h3 class="block-special__block-doc-name">Горбунов Вячеслав Петрович</h3>
                        <p class="block-special__block-doc-position">Программный руководитель</p>
                    </div>
                    <a class="block-special__btn btn" href="#">Записаться</a>
                </div>
            </div>

            <div class="block-special__item df">
                <div class="block-special__box-img">
                    <img src="img/doc-4.png" alt="Доктор">
                    <div class="block-special__img-info">
                        <div class="block-special__img-drop-block">
                            <p class="block-special__img-drop-text">Я работаю в сфере психокоррекции и консультирования более 10 лет. С 2015 года являюсь психологом реабилитационного центра, специалистом по работе с созависимостью и зависимостью. Провожу индивидуальное и семейное консультирование, психотерапевтические группы.</p>
                            <p class="block-special__img-drop-text-bold">Я люблю свою работу, поэтому постоянно продолжаю свое обучение и развитие, чтобы оказывать действенную и квалифицированную помощь.</p>
                        </div>
                    </div>
                </div>
                <div class="block-special__box-info df">
                    <a href="https://www.youtube.com/embed/hQvkBbVk908?autoplay=1&rel=0" data-fslightbox="video" class="block-special__block-video dfac">
                        <div class="block-special__block-video-link"></div>
                        <div class="block-special__block-video-text">Посмотрите видеообращение</div>
                    </a>
                    <div class="block-special__block-doc">
                        <h3 class="block-special__block-doc-name">Ратанова Юлия Юрьевна</h3>
                        <p class="block-special__block-doc-position">Психолог</p>
                    </div>
                    <a class="block-special__btn btn" href="#">Записаться</a>
                </div>
            </div>

            <div class="block-special__item df">
                <div class="block-special__box-img">
                    <img src="img/doc-5.jpg" alt="Доктор">
                    <div class="block-special__img-info">
                        <div class="block-special__img-drop-block">
                            <p class="block-special__img-drop-text">В своей работе я умею:<br>
                                - создавать доверительную атмосферу индивидуально с каждым резидентом, и в группе с резидентами нашего реабилитационного центра;<br>
                                - преодолевать сопротивление и вызвать целительные изменения в поведении, коммуникации, самооценке резидентов;<br>
                                - быть частью профессионального коллектива и вносить свой вклад (знания; навыки; опыт</p>
                        </div>
                    </div>
                </div>
                <div class="block-special__box-info df">
                    <a href="https://www.youtube.com/embed/XjkIUpltAsI?autoplay=1&rel=0" data-fslightbox="video" class="block-special__block-video dfac">
                        <div class="block-special__block-video-link"></div>
                        <div class="block-special__block-video-text">Посмотрите видеообращение</div>
                    </a>
                    <div class="block-special__block-doc">
                        <h3 class="block-special__block-doc-name">Хохрякова Елена Валерьевна</h3>
                        <p class="block-special__block-doc-position">Психолог</p>
                    </div>
                    <a class="block-special__btn btn" href="#">Записаться</a>
                </div>
            </div>

            <div class="block-special__item df">
                <div class="block-special__box-img">
                    <img src="img/doc-6.jpg" alt="Доктор">
                    <div class="block-special__img-info">
                        <div class="block-special__img-drop-block">
                            <p class="block-special__img-drop-text">Купирование абстинентного синдрома. Медикаментозное сопровождение на начальных этапах и в процессе реабилитации.</p>
                            <p class="block-special__img-drop-text-bold">Моя задача качественно оказать медицинские услуги, подготовить клиента к безопасному прохождению курса реабилитации.</p>
                        </div>
                    </div>
                </div>
                <div class="block-special__box-info df">
                    <a href="https://www.youtube.com/embed/XjkIUpltAsI?autoplay=1&rel=0" data-fslightbox="video" class="block-special__block-video dfac">
                        <div class="block-special__block-video-link"></div>
                        <div class="block-special__block-video-text">Посмотрите видеообращение</div>
                    </a>
                    <div class="block-special__block-doc">
                        <h3 class="block-special__block-doc-name">Шкляев Юрий Владимирович</h3>
                        <p class="block-special__block-doc-position">Руководитель послелечебных программ</p>
                    </div>
                    <a class="block-special__btn btn" href="#">Записаться</a>
                </div>
            </div>

        </div>

    </div>
</section>