<section class="carusel">
    <div class="container">
        <h2 class="carusel__title">БЛАГОДАРНОСТИ И НАГРАДЫ</h2>
        <ul class="dfac">
            <li>
                <a data-fslightbox="car" href="img/bless-letter1.jpg">
                    <img src="img/bless-letter1-min.jpg" alt="Благодарственное письмо">
                </a>
            </li>
            <li>
                <a data-fslightbox="car" href="img/bless-letter2.jpg">
                    <img src="img/bless-letter2-min.jpg" alt="Благодарственное письмо">
                </a>
            </li>
            <li>
                <a data-fslightbox="car" href="img/bless-letter3.jpg">
                    <img src="img/bless-letter3-min.jpg" alt="Благодарственное письмо">
                </a>
            </li>
            <li>
                <a data-fslightbox="car" href="img/bless-letter4.jpg">
                    <img src="img/bless-letter4-min.jpg" alt="Благодарственное письмо">
                </a>
            </li>
        </ul>
    </div>
</section>