<section class="galery galery-blue">
    <div class="container">
        <h2 class="galery__title galery__title-white">ЦЕНТР ОСНАЩЕН ВСЕМ НЕОБХОДИМЫМ ДЛЯ РЕАБИЛИТАЦИИ</h2>

        <ul class="galery__list dfac">
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="carusel" href="img/hospital.jpg">
                    <img class="picture" src="img/hospital-min.jpg" alt="здание наркологии">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="carusel" href="img/doctora1.jpg">
                    <img class="picture" src="img/doctora1-min.jpg" alt="сотрудники">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="carusel" href="img/doctora2.jpg">
                    <img class="picture" src="img/doctora2-min.jpg" alt="сотрудники">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="carusel" href="img/cuhni.jpg">
                    <img class="picture" src="img/cuhni-min.jpg" alt="кухня">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="carusel" href="img/cuhni.jpg">
                    <img class="picture" src="img/cuhni-min.jpg" alt="кухня">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="carusel" href="img/crovat.jpg">
                    <img class="picture" src="img/crovat-min.jpg" alt="кровать">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="carusel" href="img/cabinet2.jpg">
                    <img class="picture" src="img/cabinet2-min.jpg" alt="амбулаторная">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="carusel" href="img/cabinet.jpg">
                    <img class="picture" src="img/cabinet-min.jpg" alt="кабинет">
                </a>
            </li>
        </ul>
    </div>
</section>