<section class="galery galery-blue">
    <div class="container">
        <h2 class="galery__title galery__title-white">ОКАЗАНИЕ МЕДИЦИНСКИХ УСЛУГ ПОДТВЕРЖДЕНО ЛИЦЕНЗИЯМИ И
            СЕРТИФИКАТАМИ</h2>
        <ul class="galery__list dfac">
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="gallery" href="img/license1.jpg">
                    <img class="picture" src="img/license1-min.jpg" alt="лицензия">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="gallery" href="img/license2.jpg">
                    <img class="picture" src="img/license2-min.jpg" alt="лицензия">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="gallery" href="img/license3.jpg">
                    <img class="picture" src="img/license3-min.jpg" alt="лицензия">
                </a>
            </li>
            <li class="galery__item">
                <a class="galery__item-link" data-fslightbox="gallery" href="img/license4.jpg">
                    <img class="picture" src="img/license4-min.jpg" alt="лицензия">
                </a>
            </li>
        </ul>
    </div>
</section>