<section class="questions questions-blue">
    <div class="container">
        <h2 class="questions__title questions__title-blue">С ЧЕГО НАЧАТЬ ВЫВЕДЕНИЕ ИЗ ЗАПОЯ?</h2>
        <ul>
            <li>
                <h4>
                    Это анонимно?
                </h4>
                <p>Да! Все наши услуги предоставляются анонимно, никаких диагнозов не ставится, данные о том ...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Это помогает?
                </h4>
                <p>Да, уже во время введения капельницы в организм поступают препараты, действие начинается
                    моментально ...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Состав капельницы?
                </h4>
                <p>Мы применяем современные сертифицированные лекарства, для того чтобы как можно быстрее ...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    У вас есть лицензия?
                </h4>
                <p>Да! На выполнение медицинских процедур требуется лицензия, выданная Минздравом ...</p>
                <i>Подробнее</i>
            </li>
        </ul>

    </div>
</section>