<section class="questions questions-blue">
    <div class="container">
        <h2 class="questions__title questions__title-blue">С ЧЕГО НАЧАТЬ ВЫВЕДЕНИЕ ИЗ ЗАПОЯ?</h2>
        <ul>
            <li>
                <h4>
                    Это анонимно?
                </h4>
                <p>Да! Все наши услуги предоставляются анонимно, никаких диагнозов не ставится, данные о том ...
                </p>
                <!-- Содержимое Модалки -->
                <div>Да! Все наши услуги предоставляются анонимно, никаких диагнозов не ставится, данные о том,
                    что вы
                    получали услуги никуда не подаются. На работе и на водительском удостоверении это никак не
                    отразится.
                    Доктор приезжает на гражданском автомобиле, никто из соседей не узнает что к Вам приезжал
                    нарколог.</div>
                <!--                           -->

                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Это помогает?
                </h4>
                <p>Да, уже во время введения капельницы в организм поступают препараты, действие начинается
                    моментально ...</p>
                <!-- Содержимое Модалки -->
                <div>Да, уже во время введения капельницы в организм поступают препараты, действие начинается
                    моментально,
                    похмелье и другие беспокоящие Вас признаки от употребления уходят мгновенно!
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Состав капельницы?
                </h4>
                <p>Мы применяем современные сертифицированные лекарства, для того чтобы как можно быстрее ...
                </p>
                <!-- Содержимое Модалки -->
                <div>Мы применяем современные сертифицированные лекарства, для того чтобы как можно быстрее и
                    эффективнее
                    облегчить ваше состояние. В капельницу входят витамины , препараты поддерживающие работу
                    мозга, печени,
                    почек, противорвотные и обезболивающие лекарства, в конце капельницы мы вводим сонники, что
                    бы Вы могли
                    поспать и набраться сил.
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    У вас есть лицензия?
                </h4>
                <p>Да! На выполнение медицинских процедур требуется лицензия, выданная Минздравом ...</p>
                <!-- Содержимое Модалки -->
                <div>Да! На выполнение медицинских процедур требуется лицензия, выданная Минздравом Удмуртской
                    Республики.
                    Наша организация имеет данную лицензию, с ней вы можете ознакомиться на нашем сайте, либо в
                    нашей
                    клинике.
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
        </ul>

    </div>
</section>