<section class="questions">
    <div class="container">
        <h2 class="questions__title">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
        <ul>
            <li>
                <h4>
                    Что представляет из себя процесс реабилитации?
                </h4>
                <p>Процесс реабилитации - это прежде всего комплекс психокоррекционных технологий...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Кто работает с зависимыми?
                </h4>
                <p>Одной из составляющих процесса комплексной реабилитации, является очень эффективная
                    программа, известная как...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какой должна быть длительность реабилитации?
                </h4>
                <p>Прежде всего, необходимо отметить, что длительность реабилитации индивидуальна для каждого
                    человека...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Существуют ли гарантии, что зависимый вновь не вернется к употреблению?
                </h4>
                <p>Реальность такова, 100% гарантии, что человек не вернется к активному употреблению...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какие лечебные программы применяются в реабилитационном центре?
                </h4>
                <p>Для лечения алкоголиков и наркозависимых нами используется программа...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Как попасть в ваш реабилитационный центр?
                </h4>
                <p>Чтобы записаться к нам на лечение, достаточно позвонить по телефону 8 800 250 46 20 или...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Имеется ли у вас лицензия, чтобы осуществлять медицинскую деятельность?
                </h4>
                <p>Наш реабилитационный центр «Социальные услуги» имеет все надлежащие допуски для выполнения
                    профессиональной...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Как бросить пить алкоголь самостоятельно в домашних условиях?
                </h4>
                <p>Избавиться от зависимости к спиртным напиткам самостоятельно практически невозможно. Гораздо
                    легче и эффективнее это...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Соблюдаете ли вы анонимность?
                </h4>
                <p>Всем зависимым, обращающимся в наш реабилитационный центр, мы гарантируем полное сохранение
                    врачебной тайны. Поступающие к нам...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Применяются ли у вас принудительные методы лечения?
                </h4>
                <p>Мы не заставляем пациентов проходить у нас курс реабилитации. Зависимые приходят в наш центр
                    каждый раз добровольно...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Где можно получить услуги прокапки от алкоголя?
                </h4>
                <p>Мы не заставляем пациентов проходить у нас курс реабилитации. Зависимые приходят в наш центр
                    каждый раз добровольно...
                </p>
                <i>Подробнее</i>
            </li>
        </ul>

    </div>
</section>
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Что представляет из себя процесс реабилитации?
        </h6>
        <p>Процесс реабилитации и помощь наркоманам - это прежде всего комплекс психокоррекционных технологий, а так
            же условий для их осуществления, обусловленных четкими правилами взаимодействия между всеми участниками
            процесса. В плане технологий, используются различные мероприятия, направленные на выражение чувств и
            потребностей зависимого человека, которые проводятся как в группе так и индивидуально. Так же на
            протяжении курса, к выполнению предлагается комплекс письменных заданий, при написании и проработке
            которых, становятся понятными механизмы запуска зависимого поведения, видны последствия употребления,
            понятна общая и правдивая картина личности зависимого человека. С помощью лекций и опыта сотрудников,
            дается полная информация о болезни и способах преодоления ситуаций, которые помогут человеку
            поддерживать трезвость на протяжении оставшейся жизни. Четкие правила внутреннего распорядка позволяют
            приобрести утраченные навыки ответственного социального поведения, а занятия физкультурой восстановить и
            развить физическое здоровье и сделать более эффективным лечение наркомании и токсикомании. На протяжении
            всего курса, работа с клиентами ведется в круглосуточном режиме.</p>

    </div>
</div>
<!-- модал 2  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Кто работает с зависимыми?
        </h6>
        <p>Одной из составляющих процесса комплексной реабилитации в службе помощи алкоголикам, является очень
            эффективная программа, известная как «12 шагов». Осуществлять эту программу помогают так называемые
            «равные консультанты», т.е. люди, имеющие опыт прохождения данной программы. Работа таких сотрудников
            обеспечивает наиболее полную идентификацию, которая необходима для понимания сути заболевания, а так же
            правильной диагностике трудностей, с которыми сталкивается клиент в ходе всей реабилитации. Так же,
            индивидуальную и групповую работу осуществляют психологи, имеющие специализацию в области сопровождения
            людей, страдающих химической зависимостью. В индивидуальном порядке, по договоренности, в центр помощи
            алкоголикам могут привлекаться: педагоги, врачи, работники социального сопровождения, воспитатели по
            труду и физической культуре.
        </p>

    </div>
</div>
<!-- модал 3  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Какой должна быть длительность реабилитации?
        </h6>
        <p>Прежде всего, необходимо отметить, что длительность реабилитации в центре лечения алкоголиков
            индивидуальна для каждого человека. Она зависит от многих факторов. Основным, является внутренний
            потенциал-готовность самого клиента к прохождению курса. Если он очень низкий, то первый этап-
            преодоление сопротивления к лечению, занимает от 1го до 3х месяцев. Затем начинается основной этап
            освоения программы, который занимает от 3 до 6 месяцев. Последним считается постреабилитационный период,
            который занимает в среднем 3 месяца. Еще раз отмечу, что для каждого человека, процесс является сугубо
            индивидуальным. Залогом эффективности и успеха, является освоение полного курса программы лечение
            алкоголизма и наркомании!
        </p>

    </div>
</div>
<!-- модал 4  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Существуют ли гарантии, что зависимый вновь не вернется к употреблению?
        </h6>
        <p>Реальность такова,100% гарантии, что человек не вернется к активному употреблению, не существует!
            Клиники, которые ее дают, являются либо обманщиками, либо слишком некомпетентны в данном вопросе. Мы же,
            с уверенностью можем заявить о том, что при прохождении полного курса реабилитации и лечения алкоголизма
            в Ижевске по адресу нашего центра, включенности родственников и близких в процесс, соблюдении всех
            предлагаемых рекомендаций и установок, зависимый сохраняет устойчивую ремиссию и живет полноценной
            жизнью на протяжении бесконечного промежутка времени. Следует отметить, что человек, зависимый от
            химических веществ, должен использовать поддерживающую психотерапию постоянно, чтобы исключить
            возможность рецидива.

        </p>

    </div>
</div>
<!-- модал 5  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Какие лечебные программы применяются в реабилитационном центре?
        </h6>
        <p>Для лечения алкоголиков и наркозависимых нами используется программа «12 шагов». Она позволяет затронуть
            не только физиологическую, но и психологическую сторону выявленного заболевания. За анонимное лечение
            наркомании в Ижевске и осуществление данного курса реабилитации в нашем центре отвечают
            квалифицированные наркологи и психотерапевты, которые помогают больным осознать суть проблемы,
            определить ее источник и найти новый смысл в жизни.

        </p>

    </div>
</div>
<!-- модал 6  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Как попасть в ваш реабилитационный центр?
        </h6>
        <p>Чтобы записаться к нам на лечение алкоголизма в Ижевске, адреса, отзывы и цены указаны на нашем сайте.
            Достаточно позвонить по телефону 8 800 250 46 20 или прийти по адресу - ул. Зимняя 2, г. Ижевск.


        </p>

    </div>
</div>
<!-- модал 7  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Имеется ли у вас лицензия, чтобы осуществлять медицинскую деятельность?
        </h6>
        <p>Наш реабилитационный центр «Социальные услуги» имеет все надлежащие допуски для выполнения
            профессиональной деятельности лечения больных алкоголизмом. Лично убедиться в этом вы можете, пройдя в
            раздел «Лицензии и сертификаты» на нашем сайте.

        </p>

    </div>
</div>
<!-- модал 8  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Как бросить пить алкоголь самостоятельно в домашних условиях?
        </h6>
        <p>Избавиться от зависимости к спиртным напиткам самостоятельно практически невозможно. Гораздо легче и
            эффективнее это будет сделать под присмотром опытных наркологов и психологов, которые разработают
            персональную лечебную программу. Мы также не рекомендуем вам вызвать доктора нарколога для вывод из
            запоя на дому и закодироваться от алкоголя в домашних условиях
        </p>

    </div>
</div>
<!-- модал 9  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Соблюдаете ли вы анонимность?
        </h6>
        <p>Лечение наркомании анонимно в нашем центре происходит полностью анонимно. Всем зависимым, обращающимся в
            наш реабилитационный центр за анонимным выведением из запоя, мы гарантируем полное сохранение врачебной
            тайны. Поступающие к нам персональные сведения о пациентах и их родственниках не подлежат разглашению.

        </p>

    </div>
</div>
<!-- модал 10  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Применяются ли у вас принудительные методы лечения?
        </h6>
        <p>Мы не заставляем пациентов проходить у нас курс реабилитации. Зависимые приходят в наш центр каждый раз
            добровольно или же с целью вывести из запоя своего родственника. Исключение составляют тяжелые ситуации,
            требующие принудительного лечения - о них подробно говорится в законодательстве РФ.
        </p>

    </div>
</div>
<!-- модал 11  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Где можно получить услуги прокапки от алкоголя?
        </h6>
        <p>Вывод из запоя капельницей осуществляется нашими врачами-наркологами с выездом на дом. У пациента берутся
            необходимые анализы, после чего проводится прокапка. В процессе выведения из запоя и восстановления
            организма больному прописывается медикаментозная терапия. В состав капельницы после запоя входят
            медицинские препараты и физраствор, способствующие скорейшему выздоровлению зависимого.
        </p>

    </div>
</div>
<!-- модал 12  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Существуют ли какие-то ограничения для поступления в ваш центр?
        </h6>
        <p>Мы работаем со всеми людьми, обращающимися к нам за помощью. Наши наркологи успешно лечат не только
            мужской, но и женский алкоголизм. Мы также помогаем подросткам избавиться от большинства современных
            губительных соблазнов - игромании, наркотиков, различных курительных смесей.
        </p>

    </div>
</div>
<!-- модал 13  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Можно ли у вас получить лечение пациентам с зависимостью от спайса?

        </h6>
        <p>Наш центр реабилитации предоставляет полный спектр услуг для больных со спайсовой зависимостью. При
            лечении мы используем комплексный подход, в основе которого не только прием медикаментозных препаратов,
            но и выполнение полезных для пациентов физических упражнений с целью лечения героиновой зависимости.
            Правильно составить подобную программу могут только опытные наркологи, а потому мы настоятельно
            рекомендуем вам не проводить лечение от спайсовой зависимости в домашних условиях.
        </p>

    </div>
</div>
<!-- модал 14  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Как убедить наркомана пройти курс реабилитации?

        </h6>
        <p>Если у близкого вам человека нет желания возвращаться к здоровой жизни, вы можете оформить вызов
            нарколога на дом с целью консультации. Мы поможем составить программу интервенции, которая смотивирует
            больного добровольно пройти у нас курс лечение наркоманов.
        </p>

    </div>
</div>
<!-- модал 15  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Где лучше лечить солевую зависимость?
        </h6>
        <p>Перебороть губительную тягу к наркотическим веществам и зависимость от соли, возникающую в первую очередь
            на психологическом уровне, можно только под наблюдением. Наш реабилитационный центр готов предоставить
            комплексное лечение зависимости от соли, которое поможет вам вернуться к нормальной трезвой жизни.
        </p>

    </div>
</div>
<!-- модал 16  -->
<div class="questions-modal-wrapper">
    <div class="questions__close">
    </div>
    <div class="questions-modal">

        <h6>
            Можно ли вылечить бессонницу при алкоголизме в домашних условиях?
        </h6>
        <p>Излишний прием спиртного часто сопровождается у зависимых полной потерей сна. Многие больные в такой
            ситуации ищут способ, как быстро и эффективно закодироваться от алкоголя в домашних условиях. Но
            начинать бороться с бессонницей нужно с не с приема медикаментозных препаратов и снотворных, а с полного
            очищения всего организма. Вы можете оформить вызов нарколога на дом в Ижевске по низкой цене, который
            поставит капельницу для детоксикации организма. Правильно выполнить этот процесс вам помогут опытные
            врачи.
        </p>

    </div>
</div>
