<section class="questions">
    <div class="container">
        <h2 class="questions__title">С ЧЕГО НАЧАТЬ ИЗБАВЛЕНИЕ ОТ АЛКОГОЛЬНОЙ ЗАВИСИМОСТИ?</h2>
        <ul>
            <li>
                <h4>
                    Это анонимно?
                </h4>
                <p>Да, все наши услуги предоставляются на анонимной основе, информация о том, что клиент
                    находится у нас...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Это помогает?
                </h4>
                <p>Процент нашей статистики составляет 70% положительных результатов из общей группы прошедший
                    полный курс программы...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какая программа реабилитации?
                </h4>
                <p>В нашей работе используется программа 12 шагов, кроме того применяется большое количество...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Кто работает с клиентом?
                </h4>
                <p>В нашем реабилитационном центре работают психологи с высшим образованием, они
                    специализируются...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какие способы оплаты?
                </h4>
                <p>Принимаем наличный и безналичный расчет, кроме того предоставляется беспроцентная
                    рассрочка...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Как попасть в ваш реабилитационный центр?
                </h4>
                <p>Чтобы записаться к нам на лечение, достаточно позвонить по телефону
                    <br>8 (800) 250-46-20 или...
                </p>
                <i>Подробнее</i>
            </li>
        </ul>

    </div>
</section>


    <!-- модал 1  со страницы ЛЕЧЕНИЕ АЛКОГОЛИЗМА -->
    <!-- в эти модальные окна надо вставить ссылку ЯКОРЬ -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Это анонимно?
            </h6>
            <p>Да, все наши услуги предоставляются на анонимной основе, информация о том, что клиент находится у нас,
                никуда не предоставляется. Не ставится диагноз.
            </p>
            <a href="#">Бесплатная консультация</a>

        </div>
    </div>
    <!-- модал 2  со страницы ЛЕЧЕНИЕ АЛКОГОЛИЗМА  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Это помогает?
            </h6>
            <p>Процент нашей статистики составляет 70% положительных результатов из общей группы прошедший полный курс
                программы. При соблюдении всех рекомендаций человек полностью прекращает пить!

            </p>
            <a href="#">Бесплатная консультация</a>

        </div>
    </div>
    <!-- модал 3  со страницы ЛЕЧЕНИЕ АЛКОГОЛИЗМА  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Какая программа реабилитации?
            </h6>
            <p>В нашей работе используется программа 12 шагов, кроме того применяется большое количество лекционных и
                профилактических мероприятий направленных на отказ от употребления алкоголя, психологи проводят глубокую
                работу, разбирая каждую ситуацию из-за которой человек начал выпивать, а аддиктологи в свою очередь
                помогают и учат человека справляться с желанием выпить. Штат наркологов своевременно оказывает первую
                помощь при поступлении и назначает индивидуальную схему по выведению из запоя и восстановлению организма
                после употребления алкоголя.
            </p>
            <a href="#">Бесплатная консультация</a>
        </div>
    </div>
    <!-- модал 4  со страницы ЛЕЧЕНИЕ АЛКОГОЛИЗМА  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Кто работает с клиентом?
            </h6>
            <p>В нашем реабилитационном центре работают психологи с высшим образованием, они специализируются на работе
                с зависимыми людьми и прошли для этого специальное обучение, имеют большую практику. Напрямую с
                зависимым работают аддиктологи (консультант равный равному). Главным преимуществом нашего центра
                является лицензированная медицинская клиника, поэтому у нас постоянно находятся штатные врачи
                психиатры-наркологи и дежурные фельдшера.
            </p>
            <a href="#">Бесплатная консультация</a>
        </div>
    </div>
    <!-- модал 5  со страницы ЛЕЧЕНИЕ АЛКОГОЛИЗМА  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Какие способы оплаты?
            </h6>
            <p>Принимаем наличный и безналичный расчет, кроме того предоставляется беспроцентная рассрочка на курс
                реабилитации.
            </p>
            <a href="#">Бесплатная консультация</a>
        </div>
    </div>
    <!-- модал 6  со страницы ЛЕЧЕНИЕ АЛКОГОЛИЗМА  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Как попасть в ваш реабилитационный центр?
            </h6>
            <p>Чтобы записаться к нам на лечение, достаточно позвонить по телефону
                <a href="tel:88002504620"> 8 (800) 250-46-20 </a>
            </p>
            <p>или прийти по адресу - ул. Зимняя 2, г. Ижевск.</p>
            <a href="#">Бесплатная консультация</a>
        </div>
    </div>