<section class="questions questions-blue">
    <div class="container">
        <h2 class="questions__title questions__title-blue">С ЧЕГО НАЧАТЬ ВЫВЕДЕНИЕ ИЗ ЗАПОЯ?</h2>
        <ul>
            <li>
                <h4>
                    Это анонимно?
                </h4>
                <p>Да! Все наши услуги предоставляются анонимно, никаких диагнозов не ставится, данные о том ...
                </p>
                <!-- Содержимое Модалки -->
                <div>Да! Все наши услуги предоставляются анонимно, никаких диагнозов не ставится, данные о том,
                    что вы
                    получали услуги никуда не подаются. На работе и на водительском удостоверении это никак не
                    отразится.
                    Доктор приезжает на гражданском автомобиле, никто из соседей не узнает что к Вам приезжал
                    нарколог.</div>
                <!--                           -->

                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Это помогает?
                </h4>
                <p>Да, уже во время введения капельницы в организм поступают препараты, действие начинается
                    моментально ...</p>
                <!-- Содержимое Модалки -->
                <div>Да, уже во время введения капельницы в организм поступают препараты, действие начинается
                    моментально,
                    похмелье и другие беспокоящие Вас признаки от употребления уходят мгновенно!
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Состав капельницы?
                </h4>
                <p>Мы применяем современные сертифицированные лекарства, для того чтобы как можно быстрее ...
                </p>
                <!-- Содержимое Модалки -->
                <div>Мы применяем современные сертифицированные лекарства, для того чтобы как можно быстрее и
                    эффективнее
                    облегчить ваше состояние. В капельницу входят витамины , препараты поддерживающие работу
                    мозга, печени,
                    почек, противорвотные и обезболивающие лекарства, в конце капельницы мы вводим сонники, что
                    бы Вы могли
                    поспать и набраться сил.
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    У вас есть лицензия?
                </h4>
                <p>Да! На выполнение медицинских процедур требуется лицензия, выданная Минздравом ...</p>
                <!-- Содержимое Модалки -->
                <div>Да! На выполнение медицинских процедур требуется лицензия, выданная Минздравом Удмуртской
                    Республики.
                    Наша организация имеет данную лицензию, с ней вы можете ознакомиться на нашем сайте, либо в
                    нашей
                    клинике.
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
        </ul>

    </div>
</section>
<section class="questions">
    <div class="container">
        <h2 class="questions__title">С ЧЕГО НАЧАТЬ ИЗБАВЛЕНИЕ ОТ АЛКОГОЛЬНОЙ ЗАВИСИМОСТИ?</h2>
        <ul>
            <li>
                <h4>
                    Это анонимно?
                </h4>
                <p>Да, все наши услуги предоставляются на анонимной основе, информация о том, что клиент
                    находится у нас...
                </p>
                <!-- Содержимое Модалки -->
                <div>
                    Да, все наши услуги предоставляются на анонимной основе, информация о том, что клиент
                    находится у нас,
                    никуда не предоставляется. Не ставится диагноз.

                    <a href="#!">Бесплатная консультация</a>
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Это помогает?
                </h4>
                <p>Процент нашей статистики составляет 70% положительных результатов из общей группы прошедший
                    полный курс программы...</p>
                <!-- Содержимое Модалки -->
                <div>
                    Процент нашей статистики составляет 70% положительных результатов из общей группы прошедший
                    полный курс
                    программы. При соблюдении всех рекомендаций человек полностью прекращает пить!


                    <a href="#!">Бесплатная консультация</a>

                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какая программа реабилитации?
                </h4>
                <p>В нашей работе используется программа 12 шагов, кроме того применяется большое количество...
                </p>
                <!-- Содержимое Модалки -->
                <div>
                    В нашей работе используется программа 12 шагов, кроме того применяется большое количество
                    лекционных и
                    профилактических мероприятий направленных на отказ от употребления алкоголя, психологи
                    проводят глубокую
                    работу, разбирая каждую ситуацию из-за которой человек начал выпивать, а аддиктологи в свою
                    очередь
                    помогают и учат человека справляться с желанием выпить. Штат наркологов своевременно
                    оказывает первую
                    помощь при поступлении и назначает индивидуальную схему по выведению из запоя и
                    восстановлению организма
                    после употребления алкоголя.
                    <a href="#!">Бесплатная консультация</a>
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Кто работает с клиентом?
                </h4>
                <p>В нашем реабилитационном центре работают психологи с высшим образованием, они
                    специализируются...</p>
                <!-- Содержимое Модалки -->
                <div>
                    В нашем реабилитационном центре работают психологи с высшим образованием, они
                    специализируются на работе
                    с зависимыми людьми и прошли для этого специальное обучение, имеют большую практику.
                    Напрямую с
                    зависимым работают аддиктологи (консультант равный равному). Главным преимуществом нашего
                    центра
                    является лицензированная медицинская клиника, поэтому у нас постоянно находятся штатные
                    врачи
                    психиатры-наркологи и дежурные фельдшера.
                    <a href="#!">Бесплатная консультация</a>
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какие способы оплаты?
                </h4>
                <p>Принимаем наличный и безналичный расчет, кроме того предоставляется беспроцентная
                    рассрочка...</p>
                <!-- Содержимое Модалки -->
                <div>
                    Принимаем наличный и безналичный расчет, кроме того предоставляется беспроцентная рассрочка
                    на курс
                    реабилитации.
                    <a href="#!">Бесплатная консультация</a>
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Как попасть в ваш реабилитационный центр?
                </h4>
                <p>Чтобы записаться к нам на лечение, достаточно позвонить по телефону
                    <br>8 (800) 250-46-20 или...
                </p>
                <!-- Содержимое Модалки -->
                <div>
                    Чтобы записаться к нам на лечение, достаточно позвонить по телефону
                    <a href="tel:88002504620"> 8 (800) 250-46-20 </a>
                    <p>или прийти по адресу - ул. Зимняя 2, г. Ижевск.</p>
                    <a href="#">Бесплатная консультация</a>
                </div>
                <!--                           -->
                <i>Подробнее</i>
            </li>
        </ul>
    </div>
</section>