<section class="questions">
    <div class="container">
        <h2 class="questions__title">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
        <ul>
            <li>
                <h4>
                    Что представляет из себя процесс реабилитации?
                </h4>
                <p>Процесс реабилитации - это прежде всего комплекс психокоррекционных технологий...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Кто работает с зависимыми?
                </h4>
                <p>Одной из составляющих процесса комплексной реабилитации, является очень эффективная
                    программа, известная как...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какой должна быть длительность реабилитации?
                </h4>
                <p>Прежде всего, необходимо отметить, что длительность реабилитации индивидуальна для каждого
                    человека...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Существуют ли гарантии, что зависимый вновь не вернется к употреблению?
                </h4>
                <p>Реальность такова, 100% гарантии, что человек не вернется к активному употреблению...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какие лечебные программы применяются в реабилитационном центре?
                </h4>
                <p>Для лечения алкоголиков и наркозависимых нами используется программа...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Как попасть в ваш реабилитационный центр?
                </h4>
                <p>Чтобы записаться к нам на лечение, достаточно позвонить по телефону 8 800 250 46 20 или...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Имеется ли у вас лицензия, чтобы осуществлять медицинскую деятельность?
                </h4>
                <p>Наш реабилитационный центр «Социальные услуги» имеет все надлежащие допуски для выполнения
                    профессиональной...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Как бросить пить алкоголь самостоятельно в домашних условиях?
                </h4>
                <p>Избавиться от зависимости к спиртным напиткам самостоятельно практически невозможно. Гораздо
                    легче и эффективнее это...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Соблюдаете ли вы анонимность?
                </h4>
                <p>Всем зависимым, обращающимся в наш реабилитационный центр, мы гарантируем полное сохранение
                    врачебной тайны. Поступающие к нам...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Применяются ли у вас принудительные методы лечения?
                </h4>
                <p>Мы не заставляем пациентов проходить у нас курс реабилитации. Зависимые приходят в наш центр
                    каждый раз добровольно...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Где можно получить услуги прокапки от алкоголя?
                </h4>
                <p>Мы не заставляем пациентов проходить у нас курс реабилитации. Зависимые приходят в наш центр
                    каждый раз добровольно...
                </p>
                <i>Подробнее</i>
            </li>
        </ul>

    </div>
</section>
