<section class="questions questions-blue">
    <div class="container">
        <h2 class="questions__title questions__title-blue">С ЧЕГО НАЧАТЬ ВЫВЕДЕНИЕ ИЗ ЗАПОЯ?</h2>
        <ul>
            <li>
                <h4>
                    Это анонимно?
                </h4>
                <p>Да! Все наши услуги предоставляются анонимно, никаких диагнозов не ставится, данные о том ...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Это помогает?
                </h4>
                <p>Да, уже во время введения капельницы в организм поступают препараты, действие начинается
                    моментально ...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Состав капельницы?
                </h4>
                <p>Мы применяем современные сертифицированные лекарства, для того чтобы как можно быстрее ...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    У вас есть лицензия?
                </h4>
                <p>Да! На выполнение медицинских процедур требуется лицензия, выданная Минздравом ...</p>
                <i>Подробнее</i>
            </li>
        </ul>

    </div>
</section>

    <!-- модал 1  со страницы ВЫВОД ИЗ ЗАПОЯ  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Это анонимно?
            </h6>
            <p>Да! Все наши услуги предоставляются анонимно, никаких диагнозов не ставится, данные о том, что вы
                получали услуги никуда не подаются. На работе и на водительском удостоверении это никак не отразится.
                Доктор приезжает на гражданском автомобиле, никто из соседей не узнает что к Вам приезжал нарколог.</p>

        </div>
    </div>
    <!-- модал 2   со страницы ВЫВОД ИЗ ЗАПОЯ  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Это помогает?
            </h6>
            <p>Да, уже во время введения капельницы в организм поступают препараты, действие начинается моментально,
                похмелье и другие беспокоящие Вас признаки от употребления уходят мгновенно!
            </p>

        </div>
    </div>
    <!-- модал 3   со страницы ВЫВОД ИЗ ЗАПОЯ  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                Состав капельницы?
            </h6>
            <p>Мы применяем современные сертифицированные лекарства, для того чтобы как можно быстрее и эффективнее
                облегчить ваше состояние. В капельницу входят витамины , препараты поддерживающие работу мозга, печени,
                почек, противорвотные и обезболивающие лекарства, в конце капельницы мы вводим сонники, что бы Вы могли
                поспать и набраться сил.
            </p>

        </div>
    </div>
    <!-- модал 4   со страницы ВЫВОД ИЗ ЗАПОЯ  -->
    <div class="questions-modal">
        <div class="questions__close">
        </div>
        <div class="questions-modal-wrapper">

            <h6>
                У вас есть лицензия?
            </h6>
            <p>Да! На выполнение медицинских процедур требуется лицензия, выданная Минздравом Удмуртской Республики.
                Наша организация имеет данную лицензию, с ней вы можете ознакомиться на нашем сайте, либо в нашей
                клинике.
            </p>

        </div>
    </div>