<section class="questions">
    <div class="container">
        <h2 class="questions__title">С ЧЕГО НАЧАТЬ ИЗБАВЛЕНИЕ ОТ АЛКОГОЛЬНОЙ ЗАВИСИМОСТИ?</h2>
        <ul>
            <li>
                <h4>
                    Это анонимно?
                </h4>
                <p>Да, все наши услуги предоставляются на анонимной основе, информация о том, что клиент
                    находится у нас...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Это помогает?
                </h4>
                <p>Процент нашей статистики составляет 70% положительных результатов из общей группы прошедший
                    полный курс программы...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какая программа реабилитации?
                </h4>
                <p>В нашей работе используется программа 12 шагов, кроме того применяется большое количество...
                </p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Кто работает с клиентом?
                </h4>
                <p>В нашем реабилитационном центре работают психологи с высшим образованием, они
                    специализируются...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Какие способы оплаты?
                </h4>
                <p>Принимаем наличный и безналичный расчет, кроме того предоставляется беспроцентная
                    рассрочка...</p>
                <i>Подробнее</i>
            </li>
            <li>
                <h4>
                    Как попасть в ваш реабилитационный центр?
                </h4>
                <p>Чтобы записаться к нам на лечение, достаточно позвонить по телефону
                    <br>8 (800) 250-46-20 или...
                </p>
                <i>Подробнее</i>
            </li>
        </ul>

    </div>
</section>


