/* страница вопросы и ответы */
.questions {
    padding: 6rem 0;
    &__title {
        text-align: center;
        color: #2a47b6;
        font-size: 3.5rem;
        line-height: 1.45;
        font-weight: 600;
        letter-spacing: 0.05rem;
        margin-bottom: 6rem;
    }

    ul {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        li {
            // СПРЯТАТЬ СОДЕРЖИМОЕ МОДАЛОК
            div {
                display: none;
            }
            //
            cursor: pointer;
            display: block;
            display: flex;
            flex-direction: column;
            padding: 3rem;
            background-color: transparent;
            transition-duration: 0.4s;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin: 0 1.5rem;
            margin-bottom: 3rem;
            width: 30%;
            &:focus,
            &:hover {
                background-color: #c7d2ff;
                transition-duration: 0.4s;
            }
            &:focus i::after,
            &:hover i::after {
                left: 107%;
                transition-duration: 0.5s;
                font-weight: 500;
            }
            h4 {
                color: #050505;
                font-size: 2.3rem;
                font-weight: 600;
                margin-bottom: 1rem;
                line-height: 1.35;
                flex-grow: 1;
            }
            p {
                color: #050505;
                font-size: 1.8rem;
                line-height: 1.4;
                font-weight: 300;
                margin-bottom: 4rem;
                align-self: stretch;
                flex-grow: 1;
            }

            i {
                position: relative;
                display: inline-block;
                width: auto;
                padding-right: 0.4rem;
                color: #ff8562;
                font-size: 1.6rem;
                line-height: 1.55;
                font-weight: 400;
                align-self: baseline;
                &::after {
                    content: " →";
                    position: absolute;
                    display: block;
                    width: 100%;
                    top: 8%;
                    left: 100%;
                    font-weight: 300;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}

@media (max-width: 959px) {
    .questions {
        padding: 4rem 0;
        &__title {
            font-size: 3rem;
            margin-bottom: 4rem;
        }

        ul {
            li {
                width: 90%;
            }
        }
    }
}
@media (max-width: 549px) {
    .questions {
        padding: 3rem 0;
        &__title {
            font-size: 2.5rem;
            margin-bottom: 3.5rem;
        }
    }
}

.questions-blue {
    background-color: #2a47b6;
    ul {
        li {
            background-color: rgb(255, 255, 255);
        }
    }
    .questions__title {
        color: #fff;
    }
}

.current-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
	visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in;

    &--active {
        visibility: visible;
		opacity: 1;
    }
}

/* Стили для модалки */
.questions-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    overflow-y: auto;
    background-color: #fff;
    transition: opacity 400ms ease-in;
    animation: modal-open .5s ease-in-out;

    h4 {
        text-align: center;
        font-weight: 600;
        color: #050505;
        font-size: 2rem;
        margin: 2.5rem 0;
        line-height: 1.17;
    }
    div {
        margin-top: 1.7rem;
        text-align: center;
        color: #050505;
        font-size: 1.8rem;
        font-weight: 100;
        line-height: 1.55;

        a {
            margin: 4rem auto 0 auto;
            width: 23.5rem;
            transition: 0.8s;
            padding: 1.55rem .5rem;
            color: #ffffff;
            border: .1rem solid #ff6b00;
            background-color: #ff6b00;
            display: block;
            align-self: baseline;
            border-radius: .5rem;
            font-size: 1.4rem;
            line-height: 1.4;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    &--close {
        animation: modal-close .5s ease-in-out;
    }
}

.questions__close {
    width: 2rem;
    height: 2rem;
    background-image: url(../img/icon/closes.svg);
    background-size: cover;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 3rem;
}

@media (min-width: 640px) {
    .questions-modal {
        padding: 2rem !important;
        .questions__close {
            top: 3rem;
        }
    }
    .questions-modal {
        padding: 3rem !important;
    }
}
@media (min-width: 900px) {
    .questions-modal {
        padding: 4rem !important;
    }
    .questions-modal {
        padding: 5rem !important;
    }
    .questions__close {
        top: 3rem;
        right: 3rem;
    }
}
@media (min-width: 1120px) {
    .questions-modal {
        padding: 4rem 4.5rem !important;
        width: 60%;
    }
    .questions__close {
        top: 4rem;
        right: 4rem;
    }
}
@media (min-width: 240px) {
    .questions-modal {
        width: 50%;
    }
}

@keyframes modal-open {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes modal-close {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}