<section class="prices" id="aroow-scroll">
  <div class="section-inner">
    <h2 class="section__title">Цены на лечение</h2>
    <div class="prices-cards">
      <div class="price-card">
        <div class="price-card__top">
          <div class="price-card__title">Лечение алкоголизма</div>
          <div class="price-card__warning"><img class="person" src="img/person.svg" alt="">
            <div class="price-card__warning-mark">Осталось 2 места <br> в группу</div>
          </div>
        </div>
        <div class="price-card__list">
          <div class="price-card__list-item">снятие похмелья и чистка организма</div>
          <div class="price-card__list-item">психотерапевтические методики по программе 12 шагов</div>
          <div class="price-card__list-item price-card__list-item--tip">индивидуальный план работы для каждого<span class="tip__icon">i
              <div class="tip__list"> 
                <div class="tip__list-item">- групповые и индивидуальные практики;</div>
                <div class="tip__list-item">- выработка у человека стойкого неприятия алкоголя;</div>
                <div class="tip__list-item">- установка на трезвый образ жизни.</div>
              </div></span></div>
          <div class="price-card__list-item">после лечебное сопровождение</div>
          <div class="price-card__list-item">медикаментозная терапия</div>
          <div class="price-card__list-item">работа с родственниками</div>
        </div>
        <div class="price-card__bottom">
          <div class="price-card__price-tag">40-55 тыс. руб.</div>
          <button class="price-card__btn">Записаться</button>
        </div>
      </div>
      <div class="price-card price-card--special">
        <div class="price-card__special-mark"><span>Популярная услуга</span></div>
        <div class="price-card__top">
          <div class="price-card__title">Вывод <br> из запоя</div>
          <div class="price-card__warning"><img class="person" src="img/clock.svg" alt="" width="50" height="50">
            <div class="price-card__warning-mark">Экспресс-помощь</div>
          </div>
        </div>
        <div class="price-card__list">
          <div class="price-card__list-item">осмотр специалиста</div>
          <div class="price-card__list-item">диагностика работы сердца и уровня сахара в крови</div>
          <div class="price-card__list-item">устранение тревожных симптомов</div>
          <div class="price-card__list-item price-card__list-item--tip">устранение бессоницы<span class="tip__icon">i
              <div class="tip__list"> 
                <div class="tip__list-item">После капельницы уходит похмелье, появляется сон и аппетит</div>
              </div></span></div>
          <div class="price-card__list-item">снятие похмелья</div>
          <div class="price-card__list-item price-card__list-item--tip">в систему входят <span class="tip__icon">i
              <div class="tip__list"> 
                <div class="tip__list-item">- специальные преппараты, нормализующие работу сердца, мозга, кровообращения и снимающие тремор;</div>
                <div class="tip__list-item">- витаминный комплекс и препараты, поддерживающие работу печени и головного мозга;</div>
                <div class="tip__list-item">- на последнем этапе вводятся успокоительные препараты;</div>
                <div class="tip__list-item">- пациенту выдаются рекомендации по дальнейшему лечению, а также медикаменты на несколько дней.</div>
              </div></span></div>
          <div class="price-card__list-item">работа с родственниками</div>
        </div>
        <div class="price-card__bottom">
          <div class="price-card__price-tag">40-55 тыс. руб.</div>
          <button class="price-card__btn">Записаться</button>
        </div>
      </div>
      <div class="price-card price-card--violet">
        <div class="price-card__top price-card__top--violet">
          <div class="price-card__title">Кодирование от алкоголизма и табакокурения</div>
          <div class="price-card__warning"><img class="person" src="img/doctor.svg" alt="">
            <div class="price-card__warning-mark">Рекомендовано <br> наркологом</div>
          </div>
        </div>
        <div class="price-card__list">
          <div class="price-card__list-item">консультация и осмотр психиатра-нарколога</div>
          <div class="price-card__list-item">инъекционное или внутримышечное вшивание препаратов<span class="tip__icon">i
              <div class="tip__list"> 
                <div class="tip__list-item">Препараты дисульфирамовой группы</div>
              </div></span></div>
          <div class="price-card__list-item">гипноз по методу Довженко</div>
          <div class="price-card__list-item">медикаментозная терапия</div>
          <div class="price-card__list-item">рекомендации на поддержание ремиссии</div>
        </div>
        <div class="price-card__bottom">
          <div class="price-card__price-tag">4-9 тыс. руб.</div>
          <button class="price-card__btn">Записаться</button>
        </div>
      </div>
      <div class="price-card">
        <div class="price-card__top">
          <div class="price-card__title">Лечение наркотической зависимости</div>
        </div>
        <div class="price-card__list">
          <div class="price-card__list-item">снятие ломки</div>
          <div class="price-card__list-item">чистка организма</div>
          <div class="price-card__list-item">психотерапевтические методики по программе 12 шагов<span class="tip__icon">i
              <div class="tip__list"> 
                <div class="tip__list-item">Это 12 сформулированных принципов, которые излагаются в письменном виде. Она основана на духовных принципах, но <strong>не является религиозной</strong>, потому что не навязывает определенную религию.</div>
              </div></span></div>
          <div class="price-card__list-item">групповые и индивидуальные практики</div>
          <div class="price-card__list-item">после лечебное сопровождение</div>
          <div class="price-card__list-item">индивидуальный план работы под каждого клиента</div>
        </div>
        <div class="price-card__bottom">
          <div class="price-card__price-tag">40-50 тыс. руб.</div>
          <button class="price-card__btn">Записаться</button>
        </div>
      </div>
      <div class="price-card">
        <div class="price-card__top">
          <div class="price-card__title">Лечение игровой зависимости</div>
        </div>
        <div class="price-card__list">
          <div class="price-card__list-item">снятие ломки</div>
          <div class="price-card__list-item">чистка организма</div>
          <div class="price-card__list-item">психотерапевтические методики по программе 12 шагов<span class="tip__icon">i
              <div class="tip__list"> 
                <div class="tip__list-item">Это 12 сформулированных принципов, которые излагаются в письменном виде. Она основана на духовных принципах, но <strong>не является религиозной</strong>, потому что не навязывает определенную религию.</div>
              </div></span></div>
          <div class="price-card__list-item">психотерапевтические занятия</div>
          <div class="price-card__list-item">групповые и индивидуальные практики</div>
          <div class="price-card__list-item">после лечебное сопровождение</div>
        </div>
        <div class="price-card__bottom">
          <div class="price-card__price-tag">40 тыс. руб.</div>
          <button class="price-card__btn">Записаться</button>
        </div>
      </div>
    </div>
  </div>
</section>