<section class="block-form">
    <img src="img/form-bg.jpg" alt="Семья">
    <div class="container">
        <div class="block-form__wrapper">
            <h2 class="block-form__title">ТРЕБУЕТСЯ ИНОЕ РАСПИСАНИЕ?</h2>
            <p class="block-form__subtitle">Получите бесплатную консультацию специалиста
                по телефону.<br>
                Сделайте первый шаг к выздоровлению прямо сейчас.</p>
            <p class="block-form__free">Бесплатная консультация - анонимно.</p>

            <form action="#" class="block-form__form dfsb">
                <input class="block-form__input" type="tel" placeholder="+7 (999) 999-99-99">
                <button class="block-form__btn btn">ПОМОГИТЕ МНЕ</button>
            </form>

            <p class="block-form__text">Или пишите в мессенджеры:</p>
            <a class="block-form__link" href="https://api.whatsapp.com/send?phone=79090621502">WhatsApp</a>
            <a class="block-form__link" href="viber://chat?number=79090621502">Viber</a>
            <a class="block-form__link" href="https://teleg.one/79090621502">Telegram</a>
            <a class="block-form__link" href="https://www.instagram.com/rebcentr18">Instagram</a>

        </div>
    </div>
</section>