<section class="brigade">
    <div class="container">
        <h2 class="brigade__title">ЭКСТРЕННАЯ БРИГАДА ДЛЯ ОКАЗАНИЯ
            НАРКОЛОГИЧЕСКОЙ ПОМОЩИ В ИЖЕВСКЕ НА ДОМУ</h2>
        <div class="brigade__wrapper dfsb">
            <div class="brigade__item">
                <div class="brigade__item-img">
                    <img src="img/brigade-1.jpg" alt="Врач">
                </div>
                <div class="brigade__item-name">Азат Расимович
                    Нафиков</div>
            </div>
            <div class="brigade__item">
                <div class="brigade__item-img">
                    <img src="img/brigade-2.jpg" alt="Врач">
                </div>
                <div class="brigade__item-name">Лариса Дмитриевна Березина</div>
            </div>
            <div class="brigade__item">
                <div class="brigade__item-img">
                    <img src="img/brigade-3.jpg" alt="Врач">
                </div>
                <div class="brigade__item-name">Павел Васильевич Перевощиков</div>
            </div>
            <div class="brigade__item">
                <div class="brigade__item-img">
                    <img src="img/brigade-4.jpg" alt="Врач">
                </div>
                <div class="brigade__item-name">Елена Леонидовна Юсупова</div>
            </div>
        </div>
        <a class="brigade__btn btn" href="#">Вызвать экстренную бригаду</a>
    </div>
</section>