<section class="prices">
    <div class="section-inner">
      <h2 class="section__title">Цены на лечение наркомании в ижевске</h2>
      <div class="prices-cards prices-cards--wide">
        <div class="price-card price-card--wide">
          <div class="price-card__top price-card__top--wide">
            <h3 class="price-card__title price-card__title--wide">Послелечебная программа</h3>
          </div>
          <div class="price-card__list-title">от 1 месяца</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">психотерапевтические методики</div>
            <div class="price-card__list-item">программа 12 шагов</div>
            <div class="price-card__list-item">работа с родственниками</div>
            <div class="price-card__list-item">помощь при адаптации в социальной среде</div>
            <div class="price-card__list-item">имеется возможность размещения с проживанием</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">15 тыс. руб.</div>
            <button class="price-card__btn">Записаться</button>
          </div>
        </div>
        <div class="price-card price-card--wide">
          <div class="price-card__top price-card__top--wide">
            <h3 class="price-card__title price-card__title--wide">Короткая программа лечения наркомании</h3>
          </div>
          <div class="price-card__list-period">35 дней</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">чистка организма</div>
            <div class="price-card__list-item">психотерапевтические методики</div>
            <div class="price-card__list-item">групповые и индивидуальные практики</div>
            <div class="price-card__list-item">индивидуальный план</div>
            <div class="price-card__list-item">послелечебное сопровождение</div>
            <div class="price-card__list-item">работа с родственниками</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">49 тыс. руб. за курс</div>
            <button class="price-card__btn">Записаться</button>
          </div>
        </div>
        <div class="price-card price-card--special price-card--wide">
          <div class="price-card__special-mark"> <span>Более эффективна</span></div>
          <div class="price-card__top price-card__top--wide">
            <h3 class="price-card__title price-card__title--wide">Длительная программа лечения наркомании</h3>
          </div>
          <div class="price-card__list-period">3-6 месяцев</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">подходит для клиентов с низкой мотивацией на лечение</div>
            <div class="price-card__list-item">психотерапевтические методики</div>
            <div class="price-card__list-item">работа психолога</div>
            <div class="price-card__list-item">программа 12 шагов</div>
            <div class="price-card__list-item">работа с родственниками</div>
            <div class="price-card__list-item">послелечебное сопровождение</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">35 тыс. руб. за месяц</div>
            <button class="price-card__btn">Записаться</button>
          </div>
        </div>
      </div>
    </div>
</section>