<header class="header">
    <div class="container">
        <div class="header__top dfac">
            @@include('../bem-blocks/block-logo/_block-logo.html')
            @@include('../bem-blocks/block-phone/_block-phone.html')
            @@include('../bem-blocks/block-social/_block-social.html')
            @@include('../bem-blocks/block-doc/_block-doc.html')
        </div>
        <div class="header__bottom dfac">
            <nav class="header__nav">
                <ul class="header__nav-list reset dfsa">
                    <li class="header__nav-item">
                        <a href="#" class="header__item-link">о центре</a>
                        <ul class="header__drop-menu reset">
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">О ЦЕНТРЕ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">НОВОСТИ И СТАТЬИ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">РАСПИСАНИЕ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ОТЗЫВЫ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__item-link">услуги</a>
                        <ul class="header__drop-menu reset">
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ АЛКОГОЛИЗМА</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ВЫВОД ИЗ ЗАПОЯ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">КОДИРОВАНИЕ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ НАРКОМАНИИ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ ИГРОМАНИИ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ИГЛОУКАЛЫВАНИЕ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ ТОКСИКОМАНИИ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ ЗАВИСИМОСТИ ОТ "СПАЙСА"</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ СОЛЕВОЙ ЗАВИСИМОСТИ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ ДЕЗОМОРФИНОВОЙ ЗАВИСИМОСТИ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ ГЕРОИНОВОЙ ЗАВИСИМОСТИ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ЛЕЧЕНИЕ АМФЕТАМИНОВОЙ ЗАВИСИМОСТИ</a>
                            </li>
                            <li class="header__drop-item">
                                <a href="" class="header__drop-link">ВЫЗОВ НАРКОЛОГА НА ДОМ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__item-link">специалисты</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__item-link">цены</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__item-link">контакты</a>
                    </li>
                </ul>
            </nav>
            <form action="#" class="header__form">
                <label class="header__label">
                    <input class="header__search" type="text" placeholder="Поиск">
                    <span class="header__icon-search --svg__icon-search"></span>
                </label>
                <button class="header__search-btn btn">Найти</button>
            </form>

        </div>
    </div>
</header>