<header class="header">

    <div class="header__scroll">
        <div class="container">
            <div class="header__scroll-wrapper dfac">
                @@include('../bem-blocks/block-logo/_block-logo.html')
                <nav class="header__nav">
                    <ul class="header__nav-list reset dfsa">
                        <li class="header__nav-item">
                            <a href="#" class="header__item-link">о центре <span class="arrow"></span></a>
                            <ul class="header__drop-menu reset">
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">О ЦЕНТРЕ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">НОВОСТИ И СТАТЬИ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">РАСПИСАНИЕ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ОТЗЫВЫ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__item-link">услуги <span class="arrow"></span></a>
                            <ul class="header__drop-menu reset">
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ АЛКОГОЛИЗМА</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ВЫВОД ИЗ ЗАПОЯ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">КОДИРОВАНИЕ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ НАРКОМАНИИ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ ИГРОМАНИИ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ИГЛОУКАЛЫВАНИЕ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ ТОКСИКОМАНИИ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ ЗАВИСИМОСТИ ОТ "СПАЙСА"</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ СОЛЕВОЙ ЗАВИСИМОСТИ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ ДЕЗОМОРФИНОВОЙ ЗАВИСИМОСТИ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ ГЕРОИНОВОЙ ЗАВИСИМОСТИ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ЛЕЧЕНИЕ АМФЕТАМИНОВОЙ ЗАВИСИМОСТИ</a>
                                </li>
                                <li class="header__drop-item">
                                    <a href="" class="header__drop-link">ВЫЗОВ НАРКОЛОГА НА ДОМ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__item-link">специалисты</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__item-link">цены</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__item-link">контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="block-phone">
                    <p class="block-phone__text">Круглосуточно и бесплатно</p>
                    <a href="tel:88002504620" class="block-phone__link --svg__icon-phone-before">8 (800) 250-46-20</a>
                </div>
                @@include('../bem-blocks/block-social/_block-social.html')
            </div>

        </div>
    </div>

    <div class="container">
        <div class="header__top dfac">
            @@include('../bem-blocks/block-logo/_block-logo.html')
            <div class="header__top-phones df">
                @@include('../bem-blocks/block-phone/_block-phone.html')
                @@include('../bem-blocks/block-social/_block-social.html')
            </div>
            @@include('../bem-blocks/block-doc/_block-doc.html')
            <div class="header__top-burger dfac">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__bottom-wrapper">
                <div class="header__bottom-inner dfac">
                    <div class="header__bottom-close dfac"></div>
                    <nav class="header__nav">
                        <ul class="header__nav-list reset dfsa">
                            <li class="header__nav-item">
                                <a href="#" class="header__item-link">о центре <span class="arrow"></span></a>
                                <ul class="header__drop-menu reset">
                                    <li class="header__drop-item">
                                        <a href="about-us.html" class="header__drop-link">О ЦЕНТРЕ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="news.html" class="header__drop-link">НОВОСТИ И СТАТЬИ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="schedule.html" class="header__drop-link">РАСПИСАНИЕ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="faq.html" class="header__drop-link">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="reviews.html" class="header__drop-link">ОТЗЫВЫ</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__nav-item">
                                <a href="#" class="header__item-link">услуги <span class="arrow"></span></a>
                                <ul class="header__drop-menu reset">
                                    <li class="header__drop-item">
                                        <a href="alcoholism-treatment.html" class="header__drop-link">ЛЕЧЕНИЕ АЛКОГОЛИЗМА</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="detoksikaciya.html" class="header__drop-link">ВЫВОД ИЗ ЗАПОЯ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="kodirovanie.html" class="header__drop-link">КОДИРОВАНИЕ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="addiction.html" class="header__drop-link">ЛЕЧЕНИЕ НАРКОМАНИИ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="gambling.html" class="header__drop-link">ЛЕЧЕНИЕ ИГРОМАНИИ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="" class="header__drop-link">ИГЛОУКАЛЫВАНИЕ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="" class="header__drop-link">ЛЕЧЕНИЕ ТОКСИКОМАНИИ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="" class="header__drop-link">ЛЕЧЕНИЕ ЗАВИСИМОСТИ ОТ "СПАЙСА"</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="" class="header__drop-link">ЛЕЧЕНИЕ СОЛЕВОЙ ЗАВИСИМОСТИ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="" class="header__drop-link">ЛЕЧЕНИЕ ДЕЗОМОРФИНОВОЙ ЗАВИСИМОСТИ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="" class="header__drop-link">ЛЕЧЕНИЕ ГЕРОИНОВОЙ ЗАВИСИМОСТИ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="" class="header__drop-link">ЛЕЧЕНИЕ АМФЕТАМИНОВОЙ ЗАВИСИМОСТИ</a>
                                    </li>
                                    <li class="header__drop-item">
                                        <a href="" class="header__drop-link">ВЫЗОВ НАРКОЛОГА НА ДОМ</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__nav-item">
                                <a href="specialists.html" class="header__item-link">специалисты</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="price.html" class="header__item-link">цены</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="contacts.html" class="header__item-link">контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <form action="#" class="header__form">
                        <label class="header__label">
                            <input class="header__search" type="text" placeholder="Поиск">
                            <span class="header__icon-search --svg__icon-search"></span>
                        </label>
                        <button class="header__search-btn btn">Найти</button>
                    </form>
                    <div class="header__bottom-info">
                        <span class="header__bottom-text">Круглосуточно и бесплатно</span>
                        <a href="tel:88002504620" class="header__bottom-pnone">8 (800) 250-46-20</a>
                        <a href="tel:83412775399" class="header__bottom-pnone">8 (3412) 77-53-99</a>
                        <div class="header__bottom-social">
                            <a href="viber://chat?number=79127604400" class="header__bottom-link"
                                target="_blank">Viber</a>
                            <a href="https://api.whatsapp.com/send?phone=79127604400" class="header__bottom-link"
                                target="_blank">WhatsApp</a>
                            <div class="header__bottom-social-icon">
                                <a href="https://www.instagram.com/rebcentr18"
                                    class="header__bottom-social-link --svg__icon-insta" target="_blank"></a>
                                <a href="https://teleg.one/narkolog_zimnyaya"
                                    class="header__bottom-social-link --svg__icon-tg" target="_blank"></a>
                            </div>
                        </div>
                        <a class="header__bottom-modal btn" href="#">Получить консультацию</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>