<section class="contacts">
    <div class="section-inner">
      <h2 class="section__title section__title--contacts">Контакты</h2>
      <div class="contacts__wrap">
        <div class="contacts__data">
          <div class="data__block"> 
            <div class="data__block-title">Наш адрес:</div>
            <div class="data__block-info">Офис: г. Ижевск, ул. Зимняя 2г</div>
          </div>
          <div class="data__block"> 
            <div class="data__block-title">Телефон круглосуточной подддержки:</div>
            <div class="data__block-info"><a href="tel:+88002504620">8 800 250-46-20</a></div>
            <div class="data__block-info"><a href="tel:+83412775399">8 (3412) 77-53-99</a></div>
          </div>
          <div class="data__block"> 
            <div class="data__block-title">Мессенджеры:</div>
            <div class="data__block-info"> <a class="messenger-link" href="https://api.whatsapp.com/send?phone=79090621502" target="_blank">WhatsApp </a><span>\ </span><a class="messenger-link" href="viber://chat?number=79090621502" target="_blank">Viber </a><span>\ </span><a class="messenger-link" href="https://teleg.one/79090621502" target="_blank">Telegram </a><span>\ </span><a class="messenger-link" href="https://www.instagram.com/rebcentr18/" target="_blank">Instagram</a></div>
          </div>
          <div class="data__block"> 
            <div class="data__block-title">E-mail:</div>
            <div class="data__block-info"><a href="mailto:izhevsk-rehab@yandex.ru">izhevsk-rehab@yandex.ru</a></div>
          </div>
          <div class="data__block"> 
            <div class="data__block-title">Юридическая информация:</div>
            <div class="data__block-info">ООО «Ижевские социальные услуги» </div>
            <div class="data__block-info">ИНН 1831171399</div>
            <div class="data__block-info">КПП 1831011001</div>
            <div class="data__block-info">ОГРН 1151831001013</div>
          </div>
          <div class="social__block">
            <div class="social__icon"><a href="https://vk.com/rebcentr18" target="_blank"><img src="img/icon/vk-blue.svg" alt="Вконтакте" width="30" height="30"></a></div>
            <div class="social__icon"><a href="https://www.youtube.com/channel/UCXCO-BhOKCuzNaaLsMqwguA" target="_blank"><img src="img/icon/yt-blue.svg" alt="Ютуб" width="30" height="30"></a></div>
            <div class="social__icon"><a href="https://www.instagram.com/rebcentr18" target="_blank"><img src="img/icon/inst-blue.svg" alt="Инстаграм" width="30" height="30"></a></div>
          </div>
        </div>
        <div class="contacts__map">
          <div class="map__wrap" id="map"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="duty-doctor">
    <div class="section-inner">
      <h2 class="section__title section__title--duty-doctor">Дежурный врач</h2>
      <div class="doctor-block">
        <div class="doctor__photo doctor__photo--online"><img src="img/duty-doctor.jpg" alt="Нафиков Азат Расимович врач психиатр-нарколог" width="304" height="304"></div>
        <div class="doctor__info"> 
          <div class="doctor__name">Нафиков Азат Расимович</div>
          <div class="doctor__position">Врач психиатр-нарколог</div>
          <div class="doctor__phone"><a href="tel:+88002504620">8 800 250-46-20</a></div>
          <button class="btn btn--duty-doctor">Вызвать врача</button>
        </div>
      </div>
    </div>
</section>