.contacts {
    padding: 5rem 0 4rem 0;

    @media (min-width: 1440px) {
        padding: 8rem 0 9rem 0;
    }
}

.contacts__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media (min-width: 961px) {
        flex-direction: row;
        align-items: initial;
    }
}

.contacts__data {
    max-width: 60rem;
    width: 100%;
    padding: 0 3.1rem;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
        margin-bottom: 4rem;
        padding: 0 4rem;
    }

    @media (min-width: 961px) {
        max-width: 38rem;
        padding: 0 1rem;
    }

    @media (min-width: 1200px) {
        max-width: 46.4rem;
        width: 40%;
        margin-bottom: 0;
    }

    .data__block {
        margin-bottom: 4rem;

        @media (min-width: 1440px) {
            margin-bottom: 5rem;
        }

        &-title,
        &-info {
            font-size: 1.8rem;
            line-height: 1.55;
            color: #050505;

            @media (min-width: 1440px) {
                font-size: 2.1rem;
            }
        }

        &-title {
            margin-bottom: 1rem;
            font-weight: 600;
        }

        &-info {
            font-weight: 400;

            a {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.55;
                color: #050505;

                @media (min-width: 1440px) {
                    font-size: 2.1rem;
                }

                span {
                    color: #050505;
                    border-bottom: none !important;
                }
            }

            .messenger-link {
                color: rgb(255, 107, 0);
                border-bottom: 0.1rem solid rgb(255, 107, 0);
            }
        }
    }

    .social__block {
        display: flex;

        a {
            display: block;
        }

        .social__icon {
            width: 3rem;
            height: 3rem;

            &:not(:last-of-type) {
                margin-right: 0.5rem;
            }
        }
    }
}

.contacts__map {
    max-width: 64rem;
    width: 100%;
    height: 30rem;
    margin: 0 auto;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
        height: 50rem;
    }

    @media (min-width: 961px) {
        max-width: 54rem;
    }

    @media (min-width: 1200px) {
        width: 60%;
        max-width: 66rem;
        margin: 0 0 0 auto;
    }

    .map__wrap {
        width: 100%;
        height: 100%;
    }
}

.section__title--contacts {
    margin-bottom: 4.5rem;

    @media (min-width: 1440px) {
        margin-bottom: 8rem;
    }
}

.duty-doctor {
    padding: 4.5rem 0;
    background-color: #2a47b6;

    @media (min-width: 1440px) {
        padding: 9rem 8.5rem;
    }
}

.section__title--duty-doctor {
    font-size: 2.5rem;
    line-height: 1.45;
    font-weight: 600;
    color: #fff;

    @media (min-width: 961px) {
        font-size: 3.5rem;
        letter-spacing: 0.5rem;
    }
}

.doctor-block {
    max-width: 46rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);

    @media (min-width: 481px) {
        flex-direction: row;
        justify-content: center;
        padding: 3.9rem 2rem;
    }

    @media (min-width: 640px) {
        max-width: 64rem;
        padding: 7.3rem 2rem;
    }

    @media (min-width: 961px) {
        max-width: 83.6rem;
        min-height: 46.5rem;
        padding: 8.25rem 4rem 8.25rem 6rem;
    }

    .doctor__photo {
        width: 21rem;
        height: 21rem;
        overflow: hidden;
        margin: 0 auto 2.2rem auto;
        border-radius: 50%;

        @media (min-width: 481px) {
            width: 14.3rem;
            height: 14.3rem;
            margin: 0 2rem 0 0;
        }

        @media (min-width: 640px) {
            width: 19.7rem;
            height: 19.7rem;
            margin: 0 8.5rem 0 0;
        }

        @media (min-width: 961px) {
            width: 30rem;
            height: 30rem;
            margin: 0 7rem 0 0;
        }

        &--online {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                z-index: 1;
                top: 8rem;
                right: 2.5rem;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
                background-color: #32cd32;
            }
        }
    }

    .doctor__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 481px) {
            align-items: flex-start;
        }

        .doctor__name {
            margin-bottom: 0.5rem;
            font-size: 1.8rem;
            line-height: 1.55;
            font-weight: 600;
            color: #050505;

            @media (min-width: 961px) {
                margin-bottom: 1.6rem;
                font-size: 2.5rem;
            }
        }

        .doctor__position {
            margin-bottom: 3rem;
            font-size: 1.4rem;
            line-height: 1.55;
            font-weight: 400;
            color: #050505;

            @media (min-width: 961px) {
                font-size: 1.8rem;
            }
        }

        .doctor__phone {
            a {
                display: block;
                margin-bottom: 4.5rem;
                font-size: 1.8rem;
                line-height: 1.55;
                font-weight: 600;
                color: #050505;

                @media (min-width: 481px) {
                    margin-bottom: 2rem;
                }

                @media (min-width: 961px) {
                    margin-bottom: 4.5rem;
                }
            }
        }

        .btn--duty-doctor {
            width: 15rem;
            padding: 1.45rem 0;
            font-size: 1.6rem;

            @media (min-width: 961px) {
                width: 16rem;
            }
        }
    }
}

/* МОДАЛЬНОЕ ОКНО */

.modal__content {
    position: relative;
    overflow: auto;
    width: 32%;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 100000;
    padding: 4rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #fff;
    margin: 12vh auto;

    .input-checkbox {
        margin: 0 auto;
        width: 100%;
        label {
            width: 100%;
        }
    }

    p {
        text-align: center;
        line-height: 1.55;
        font-weight: 500;
        color: #000000;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        line-height: 1.55;
        font-size: 2.2rem;
    }
    ul {
        margin: 0 auto;
        width: 80%;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            list-style: none;
            color: rgb(42, 71, 182);
            border-bottom: 1px solid rgb(42, 71, 182);
            box-shadow: none;
            font-size: 1.8rem;
            font-weight: 400;
            margin-right: 1rem;
            margin-bottom: 2rem;
            a {
                text-decoration: none;
                border-bottom: 1px solid rgb(42, 71, 182);
            }
        }
    }
    .block-form__input-box {
        position: relative;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1.5rem;
            width: 1.8rem;
            height: 1.3rem;
            background: linear-gradient(white 0, white 33%, blue 33%, blue 66%, red 100%);
            box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
        &::after {
            content: "+7";
            position: absolute;
            top: 51%;
            transform: translateY(-50%);
            left: 4.2rem;
            font-weight: 700;
        }
    }
}
.cal-doctor__close {
    width: 2rem;
    height: 2rem;
    opacity: 1;
    background-image: url(../img/icon/closes.svg);
    background-size: cover;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 3rem;
}

label[for="modal__chec1"] {
    cursor: pointer;
    display: block;
    width: 36rem;
    padding-left: 2.5rem;
    position: relative;
    color: rgb(209, 209, 209);
    font-weight: 400;
    font-size: 1.4rem;
    &::before {
        content: "";
        position: absolute;
        border: 2px solid #d1d1d1;
        border-radius: 0.2rem;
        width: 2rem;
        height: 2rem;
        top: -0.2rem;
        left: 0;

        transition: 0.5s;
    }
    &::after {
        content: "";
        position: absolute;
        border-right: solid 0.2rem transparent;
        border-bottom: solid 0.2rem transparent;
        width: 0.5rem;
        height: 1rem;
        top: 0.2rem;
        left: 0.7rem;
        transform: rotate(42deg);
        transition: 0.5s;
    }
    a {
        font-weight: 400;
        font-size: 1.4rem;
        border-bottom: 1px solid #d1d1d1;
    }
}
#modal__chec1:checked + label::after {
    border-right: solid 0.2rem #d1d1d1;
    border-bottom: solid 0.2rem #d1d1d1;
    transform: rotate(42deg);
    transition: 0.5s;
}
#modal__chec1:checked + label::before {
    transition: 0.5s;
}
#modal__chec1:not(:checked),
#modal__chec1:checked {
    display: none;
}

.modal__backdrop {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;

    h6 {
        color: rgb(42, 71, 182);
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.23;
        text-align: center;
        margin-bottom: 4.1rem;
    }
    form {
        p {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            color: rgb(42, 71, 182);
            margin-bottom: 4.1rem;
        }

        button {
            margin-top: 0;
            background-color: #ff6b00;
            border: transparent;
            color: #fff;
            padding: 2rem 0;
            width: 100%;
            border-radius: 5px;
            margin: 3rem 0;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: "TTcommons", Arial, sans-serif;
            :focus,
            &:hover {
                background-color: #ff872b;
                color: #fff;
                transition: 0.8s;
            }
        }
        input,
        textarea {
            margin: 0 auto;
            display: block;
            outline: none;
            color: #050505;
            border: 1px solid #ede8ff;
            border-radius: 5px;
            margin-bottom: 3rem;
            padding: 0.5rem;
            font-weight: 500;
            font-size: 1.7rem;
        }
        input {
            height: 5.2rem;
            width: 100%;
            padding-left: 6rem;
        }
        textarea {
            height: 10.2rem;
            width: 100%;
            padding: 1.8rem;
        }
        div {
            margin: 0 auto;
            width: 100%;
            label {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .modal__backdrop {
        h6 {
            font-size: 3.2rem;
        }
    }
    .modal__content {
        position: relative;
        overflow: auto;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .modal__backdrop {
        h6 {
            font-size: 2.8rem;
        }
    }
    .modal__content {
        position: relative;
        overflow: auto;
        width: 80%;
    }
}
@media (max-width: 549px) {
    .modal__backdrop {
        h6 {
            font-size: 2.5rem;
        }
    }
    .modal__content {
        padding: 2rem;
    }
}
.modal__show .modal__backdrop,
.modal__show .modal__content {
    opacity: 1;
    visibility: visible;
    z-index: 1050;
    pointer-events: auto;
    overflow-y: auto;
    -webkit-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
