<section class="prices">
    <div class="section-inner">
      <h2 class="section__title">Цены на вывод из запоя в ижевске</h2>
      <div class="prices-cards prices-cards--wide">
        <div class="price-card price-card--wide">
          <div class="price-card__top price-card__top--wide price-card__top--short">
            <h3 class="price-card__title price-card__title--wide">Вывод из запоя амбулаторно в клинике</h3>
          </div>
          <div class="price-card__list-title">1.5-2 часа</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">ЭКГ и глюкометр</div>
            <div class="price-card__list-item">вводятся обезболивающие</div>
            <div class="price-card__list-item">противорвотные и снотворные препараты</div>
            <div class="price-card__list-item">витаминный комплекс</div>
            <div class="price-card__list-item">выдается медикаментозная терапия на 2 дня</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">3000 руб.</div>
            <button class="price-card__btn">Вызвать врача</button>
          </div>
        </div>
        <div class="price-card price-card--special price-card--wide">
          <div class="price-card__special-mark"> <span>Популярная услуга</span></div>
          <div class="price-card__top price-card__top--wide price-card__top--short">
            <h3 class="price-card__title price-card__title--wide">Капельница на дом</h3>
          </div>
          <div class="price-card__list-title">1.5-2 часа</div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">ЭКГ и глюкометр</div>
            <div class="price-card__list-item">вводятся обезболивающие</div>
            <div class="price-card__list-item">противорвотные и снотворные препараты</div>
            <div class="price-card__list-item">витаминный комплекс</div>
            <div class="price-card__list-item">выдается медикаментозная терапия на 2 дня</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">от 3500 руб.</div>
            <button class="price-card__btn">Вызвать врача</button>
          </div>
          <div class="price-card__note">*пригород тарифицируется отдельно</div>
        </div>
        <div class="price-card price-card--wide">
          <div class="price-card__top price-card__top--wide price-card__top--short">
            <h3 class="price-card__title price-card__title--wide">Капельница на дом от ПАВ</h3>
          </div>
          <div class="price-card__list-title"> </div>
          <div class="price-card__list price-card__list--wide">
            <div class="price-card__list-item">выезд врача</div>
            <div class="price-card__list-item">уколы и капельница</div>
            <div class="price-card__list-item">обезболивающие препараты</div>
            <div class="price-card__list-item">противорвотные и снотворные</div>
            <div class="price-card__list-item">витаминный комплекс</div>
            <div class="price-card__list-item">выдается медикаментозная терапия на несколько дней</div>
          </div>
          <div class="price-card__bottom">
            <div class="price-card__price-tag">5000 тыс. руб.</div>
            <button class="price-card__btn">Вызвать врача</button>
          </div>
        </div>
      </div>
    </div>
</section>