<section class="video-rewievs">
    <div class="container">
        <!--
             <h1 class="video-rewievs__title">ОТЗЫВЫ КЛИЕНТОВ О ЦЕНТРЕ</h1>
             для страницы с отызвами 
             <h2 class="video-rewievs__subtitle">УБЕДИТЕСЬ В ЭФФЕКТИВНОСТИ ЛЕЧЕНИЯ У НАС ИЗ ИСТОРИЙ НАШИХ КЛИЕНТОВ</h2>
             для страницы с отызвами 
        -->
        <h2 class="video-rewievs__title">УБЕДИТЕСЬ В ЭФФЕКТИВНОСТИ ИЗ ИСТОРИЙ НАШИХ КЛИЕНТОВ</h2>
        <div class="video-rewievs__wrapper dfsb">
            <h3 class="video-rewievs__video-title">Отзывы про лечение алкоголизма</h3>

            <div class="video-rewievs__box-video">
                <iframe id="youtubeiframe_1_220395008"
                    src="//www.youtube.com/embed/kHtikMaK0PM?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0"
                    allowfullscreen=""></iframe>
                <span class="video-rewievs__box-video-text">История выздоровления Марины из Ижевска</span>
            </div>

            <div class="video-rewievs__box-video">
                <iframe id="youtubeiframe_2_220395008"
                    src="//www.youtube.com/embed/dsm-_t2Qn8M?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0"
                    allowfullscreen=""></iframe>
                <span class="video-rewievs__box-video-text">История выздоровления Сергея из Ижевска</span>
            </div>
        </div>

        <div class="video-rewievs__wrapper dfsb">

            <h3 class="video-rewievs__video-title">Отзывы о лечении наркомании</h3>

            <div class="video-rewievs__box-video">
                <iframe id="youtubeiframe_1_220399725"
                    src="//www.youtube.com/embed/srp6HtRCDSw?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0"
                    allowfullscreen=""></iframe>
                <span class="video-rewievs__box-video-text">История выздоровления Николая из Оренбурга</span>
            </div>

            <div class="video-rewievs__box-video">
                <iframe id="youtubeiframe_2_220399725"
                    src="//www.youtube.com/embed/ut57f9Jtg0Q?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0"
                    allowfullscreen=""></iframe>
                <span class="video-rewievs__box-video-text">История выздоровления Данила</span>
            </div>

        </div>
        
        <!-- на странице отзывов кнопки нет -->
        <a href="#" class="video-rewievs__btn btn">Смотреть еще отзывы</a>

    </div>
</section>