.video-rewievs {
    padding: 5rem 0;

    @include media(574) {
        padding: 2rem 0;
    }

    /* .video-rewievs__title */

    &__title {
        text-align: center;
        font-size: 3.5rem;
        color: $darkblue;
        margin-bottom: 3rem;

        @include media(574) {
            font-size: 2.4rem;
        }
    }

    &__subtitle {
        text-align: center;
        font-size: 2.5rem;
        color: $darkblue;
        margin-bottom: 3rem;

        @include media(960) {
            font-size: 2rem;
        }
        @include media(574) {
            font-size: 1.5rem;
        }
    }

    /* .video-rewievs__wrapper */

    &__wrapper {
        flex-wrap: wrap;
        margin-bottom: 7rem;

        @include media(960) {
            margin-bottom: 1rem;
        }
    }

    /* .video-rewievs__video-title */

    &__video-title {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2rem;

        @include media(574) {
            font-size: 2rem;
        }
    }

    /* .video-rewievs__box-video */

    &__box-video {
        width: 100%;
        max-width: 56rem;
        margin-bottom: 4rem;

        @include media(1200) {
            max-width: 46rem;
        }

        @include media(960) {
            max-width: 60rem;
            margin: 0 auto 4rem;
        }

        iframe {
            border: none;
            width: 100%;
            height: 31.5rem;
            margin-bottom: 2rem;

            @include media(1200) {
                height: 26rem;
            }

            @include media(960) {
                height: 33.7rem;
                margin-bottom: 1rem;
            }

            @include media(574) {
                height: 15.7rem;
                margin-bottom: 1rem;
            }
        }
    }

    /* .video-rewievs__box-video-text */

    &__box-video-text {
        font-size: 1.8rem;
        line-height: 1.55;
        font-weight: 500;

        @include media(574) {
            height: 15.7rem;
            font-size: 1.4rem;
        }
    }

    &__btn {
        max-width: 27rem;
        height: 6.4rem;
        margin: 0 auto;
        border: 0.2rem solid $orange;
        background-color: #fff;
        color: $orange;
        font-weight: 500;

        &:hover {
            background-color: $orange;
            color: #fff;
        }
    }
}