<section class="annually">
    <div class="container">
        <h2 class="annually__title">Ежегодно
        </h2>
        <ul class="annually__block dfac">
            <li>
                144
                <strong>пациента поступают в центр</strong>
            </li>
            <li>
                102
                <strong>проходит полный курс</strong>
            </li>
            <li>
                70%
                <strong>начинают новую жизнь и остаются трезвыми</strong>
            </li>
        </ul>
    </div>
</section>