<section class="table table-width">
    <div class="container">
        <table>
            <caption>Расписание выходного дня</caption>
            <tr>
                <th>Время</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>10:00</td>
                <td>подъем</td>
            </tr>


            <tr>
                <td>10:30</td>
                <td>завтрак</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>ежедневник</td>
            </tr>
            <tr>
                <td>11:30</td>
                <td>«синяя» книга</td>
            </tr>
            <tr>
                <td>12:45</td>
                <td>собрание семьи</td>
            </tr>
            <tr>
                <td>14:00</td>
                <td>обед</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>«желтая» книга</td>
            </tr>
            <tr>
                <td>16:00</td>
                <td>просмотр фильма</td>
            </tr>
            <tr>
                <td>20:30</td>
                <td>чаепитие</td>
            </tr>
            <tr>
                <td>21:30</td>
                <td>итоги дня и характеристики</td>
            </tr>
            <tr>
                <td>23:00</td>
                <td>отбой</td>
            </tr>

        </table>
    </div>
</section>