<section class="table">
    <div class="container">
        <table>
            <caption>Расписание на будний день</caption>
            <tr>
                <th>Время</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>8:00</td>
                <td>подъем</td>
            </tr>

            <tr>
                <td>8:15</td>
                <td>зарядка</td>
            </tr>
            <tr>
                <td>8:45</td>
                <td>медитация</td>
            </tr>
            <tr>
                <td>09:10</td>
                <td>уборка</td>
            </tr>
            <tr>
                <td>10:00</td>
                <td>завтрак</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>утреннее собрание терапевтического сообщества</td>
            </tr>
            <tr>
                <td>12:30</td>
                <td>малая психотерапевтическая группа</td>
            </tr>
            <tr>
                <td>14:30</td>
                <td>обед</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>В зависимости от дня недели:
                    - 15:00 - лекция
                    - 16:30 - спорт час
                    или
                    - 15:00 - горячий стул (психокоррекционное мероприятие)
                    - 15:30 - медитация
                    - 16:00 - арт-терапия
                </td>
            </tr>
            <tr>
                <td>18:00</td>
                <td>ужин</td>
            </tr>
            <tr>
                <td>19:00</td>
                <td>группа самопомощи</td>
            </tr>
            <tr>
                <td>20:30</td>
                <td>вечернее чаепитие</td>
            </tr>
            <tr>
                <td>21:30</td>
                <td>итоги дня</td>
            </tr>
            <tr>
                <td>22:45</td>
                <td>медитация</td>
            </tr>
            <tr>
                <td>23:15</td>
                <td>отбой</td>
            </tr>

        </table>
    </div>
</section>